<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<style>
	#top{
		background: #fff;
	}
	section{
		background: #fff;
	}
	#body{
		background: #fff;
	}
</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
 

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="adminAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="adminAssets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="adminAssets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="adminAssets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="adminAssets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="adminAssets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="adminAssets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="adminAssets/css/style.css" rel="stylesheet">
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body id="body">
	<div class="container" layout:fragment="content">
		
		<div class="card">
            <div class="card-body">
              <!-- General Form Elements -->
              <form>
              <br>
              <h2>기업정보등록</h2>
              <hr>
              <br>
              <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">기업명</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control">
                  </div>
                </div>
              
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">대표자</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control">
                  </div>
                </div>
              
                 <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">기업구분</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example">
                      <option selected="">선택</option>
                      <option value="1">강소기업</option>
                      <option value="2">중소기업</option>
                      <option value="3">중견기업</option>
                      <option value="3">대기업</option>
                    </select>
                  </div>
                </div>
                
                 <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">산업</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example">
                      <option selected="">선택</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">매출액</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example">
                      <option selected="">선택</option>
                      <option value="1">400억 이하</option>
                      <option value="2">600억 이하</option>
                      <option value="3">800억 이하</option>
                      <option value="3">1000억 이하</option>
                      <option value="3">1500억 이하</option>
                      <option value="3">1500억 초과</option>
                    </select>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">사원수</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control">
                  </div>
                </div>
                
                 <div class="row mb-3">
                  <label for="inputDate" class="col-sm-2 col-form-label">설립일</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control">
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">주소</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control">
                  </div>
                </div>
           
                <div class="row mb-3">
                  <div class="col-6">
                    <a href="coMypage" class="btn btn-primary" style="float:right;">취소</a>
                  </div>
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary">등록</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>
	</div>
</body>
</html>