<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<meta charset="UTF-8" />
<title>기업마이페이지</title>
<style>
#insertInfo {
	width: 100%;
}

a {
	font-weight: bold;
	color: black;
	hover
}

a:hover {
	cursor: pointer;
}
notice += `<span><i id="heartIcon"
									class="bi bi-suit-heart fa-2x" style="color:#6610f2;"></i></span>`r
.interInfer:hover {
	cursor: pointer;
}

.selected {
	text-decoration: underline;
	font-weight: bold;
}

i {
	color: red;
}
</style>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
	<div class="container" layout:fragment="content">

		<div class="row">
			<div class="col-lg-3 text-center">
				<div class="card">
					<div class="card-body">
						<h4 th:text="${id.id}"></h4>
						<a id="insertInfo" type="button" class="btn btn-light"
							href="coInfoPage">기업정보등록</a>
						<hr />
						<a href="">받은 관심<i class="bi bi-suit-heart-fill"></i><small
							th:text="${followers}"></small></a><br /> <a href="/coRecruit">나의
							공고목록</a><br /> <a href="/coProducts">아이템 / 결제내역</a>
						<hr />
						<a href="">개인정보 수정</a>
					</div>
				</div>
			</div>
			<div class="col-lg-9 text-center">
				<div class="card">
					<div class="card-body">
						<div class="row" id="topMenu">
							<a onclick="changeTable('first',this)" class="col text-center "><span
								class="fw-bold fs-7">0</span> <br /> <span
								class="selected fw-bold fs-1">새로운 지원</span> </a><a
								onclick="changeTable('second',this)"
								class="col text-center border-start"><span
								class="fw-bold fs-7">0</span> <br /> <span class="fw-bold fs-1">처리된
									지원</span> </a> <a onclick="changeTable('third',this)"
								class="col text-center border-start"><span
								class="fw-bold fs-7">0</span> <br /> <span class="fw-bold fs-1">관심
									구직글</span> </a>
						</div>
					</div>
				</div>
				<br />
				<div id="tableMenu" class="card">
					<div id="firstTop" class="card-body">
						<h5>새로운 지원</h5>
						<table class="table hover">
							<thead>
								<tr>
									<th>1</th>
									<th>2</th>
									<th>3</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>2</td>
									<td>3</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- 밑은 tableMenu 갈아끼우기  -->
					<div id="secondTop" class="card-body" style="display: none">
						<h5>처리된 지원</h5>
						<table class="table hover">
							<thead>
								<tr>
									<th>1</th>
									<th>2</th>
									<th>3</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>2</td>
									<td>3</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div id="thirdTop" class="card-body" style="display: none">
						<h5>
							<span id="smallInter" class="selected interInfer"
								onclick="changeSlash(this,1)">관심 구직글</span><!--  / <span
								class="interInfer" onclick="changeSlash(this,2)">제안 구직글</span> -->
						</h5>

						<div id="selfList" class="col-md-12"></div>
						<!-- 제안구직글목록 뿌리기 -->
						<!-- 제안구직글목록 뿌리기 끝 -->
					</div>
					<!-- tableMenu갈아끼우기 끝 -->
				</div>
			</div>
		</div>

		<!-- html모달창 -->
		<div class="modal fade " id="exampleModalLg" tabindex="-1"
			aria-labelledby="exampleModalLgLabel" style="display: none;"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-4" id="exampleModalLgLabel">Large
							modal</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="offerForm" action="/offerSelf" method="POST">
							<div class="mb-3 row">
								<label for="inputPassword" class="col-sm-3 col-form-label  fs-2">●
									회사명</label>
								<div class="col-sm-9">
									<input type="text" name="coNm" class="form-control" id="">
								</div>
							</div>

							<div class="mb-3 row">
								<label for="inputPassword" class="col-sm-3 col-form-label  fs-2">●
									근무지 주소</label>
								<div class="col-sm-9">
									<input type="text" name="wksite" class="form-control" id="">
								</div>
							</div>

							<div class="mb-3 row">
								<label for="inputPassword" class="col-sm-3 col-form-label  fs-2">●
									프로젝트 명</label>
								<div class="col-sm-9">
									<input type="text" name="projectNm" class="form-control" id="">
								</div>
							</div>

							<div class="mb-3 row">
								<label for="inputPassword" class="col-sm-3 col-form-label  fs-2">●
									기술 스택</label>
								<div class="col-sm-9">
									<select id="tech" name="tech" class="form-select">
										<option value="" selected>기술선택(다중선택가능)</option>
										<option th:each="tech : ${commList.Z}" th:text="${tech.desct}"
											th:value="${tech.prov}">기술스택</option>
									</select>
								</div>
							</div>

							<div class="mb-3 row">
								<label for="inputPassword" class="col-sm-3 col-form-label  fs-2">●
									주요 업무</label>
								<div class="col-sm-9">
									<input type="text" name="maBuss" class="form-control" id="">
								</div>
							</div>

							<div class="mb-3 row">
								<label for="inputPassword" class="col-sm-3 col-form-label  fs-2">●
									복지 및 혜택</label>
								<div class="col-sm-9">
									<input type="text" name="bnft" class="form-control" id="">
								</div>
							</div>

							<div class="mb-3 row">
								<label for="inputPassword" class="col-sm-3 col-form-label  fs-2">●
									급여</label>
								<div class="col-sm-9">
									<input type="text" name="saly" class="form-control" id="">
								</div>
							</div>

							<div class="mb-3 row">
								<label for="inputPassword" class="col-sm-3 col-form-label  fs-2">●
									업무 시작일</label>
								<div class="col-sm-9">
									<input type="date" name="bussStartDt" class="form-control"
										id="">
								</div>
							</div>

							<div class="mb-3 row">
								<label for="inputPassword" class="col-sm-3 col-form-label  fs-2">●
									제안 마감일</label>
								<div class="col-sm-9">
									<input type="date" name="clsDt" class="form-control" id="">
								</div>
							</div>

							<div class="mb-3 row">
								<label for="inputPassword" class="col-sm-3 col-form-label  fs-2">●
									구인공고</label>
								<div class="col-sm-9">
									<select name="ttl" class="form-select" id="">
										<option value='' selected>선택</option>
									</select>
								</div>
							</div>
							<!-- 함께보낼데이타 -->
							<input type="hidden" name="id" th:value="${id.id}"> <input
								type="hidden" name="jobSearchNo">
							<div class="row mb-4">
								<div class="col-12 d-flex justify-content-center">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal" onclick="closeModal()">취소</button>
									<button id="offerBtn" type="button" class="btn btn-primary"
										onclick="offerCheck()">제안</button>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>


		<script>
			const tableMenu = document.querySelector('#tableMenu');
			//상단메뉴클릭
			function changeTable(no, t) {
				let topMenu = document.querySelector('#topMenu');
				let firstTop = document.querySelector('#firstTop');
				let secondTop = document.querySelector('#secondTop');
				let thirdTop = document.querySelector('#thirdTop');
				let selected = topMenu.querySelector('.selected');
				if (no == 'first') {
					firstTop.style.display = 'block';
					secondTop.style.display = 'none';
					thirdTop.style.display = 'none';
					selected.classList.remove('selected');
					t.querySelectorAll('span')[1].classList.add('selected');

				} else if (no == 'second') {
					secondTop.style.display = 'block';
					firstTop.style.display = 'none';
					thirdTop.style.display = 'none';
					selected.classList.remove('selected');
					t.querySelectorAll('span')[1].classList.add('selected');
				} else if (no == 'third') {
					thirdTop.style.display = 'block';
					secondTop.style.display = 'none';
					firstTop.style.display = 'none';
					selected.classList.remove('selected');
					t.querySelectorAll('span')[1].classList.add('selected');
					document.querySelector('#smallInter').click();

				}
			}
			
			let tech_value = []; // select 태그 value 배열
			let tech_text = []; // seelct 태그 text 배열

			// 기술스택 값 변경시 실행되는 함수
			$('#tech').on('change', function(){
				let tech = $('#tech option:selected').val(); // 선택된 value값을 가져옴
				let techTxt = $('#tech option:selected').text(); // 선택된 text값을 가져옴
				
				tech_value.push(tech);	// 배열에 push
				tech_text.push(techTxt); // 배열에 push
				
				let tech_text_str = tech_text.join(); // Join : 배열의 문자열을 합쳐주는 함수
				let tech_value_value = tech_value.join();
				
				// select에 값을 표시해줄땐 해당하는 option이 존재 해야 값을 나타내줄수있으므로 option태그를 생성하여 append 해줘야함
				$('#tech').append(`<option hidden value="`+tech_value_value+`">`+tech_text_str+`</option>`);
				$('#tech').val(tech_value_value);
				
			});
			
			//관심 게시글 수 
			var totalInter = [[${totalInter.totalInter}]];
			//관심구직글클릭 / 제안구직글클릭
			function changeSlash(t, no) {
				let selected = tableMenu.querySelector('.selected')
				if (no == 1) {
					selected.classList.remove('selected');
					t.classList.add('selected');
					//ajax로 관심구직글 불러오는 함수
					selectInterNoti(1);
				} else {
					$('#selfList').empty();
					selected.classList.remove('selected');
					t.classList.add('selected');
					//ajax로 제안완료구직글 불러오는 함수
					selectOfferNoti();
				}
			}
			//관심구직글호출
			function selectInterNoti(pageNum) {
				$.ajax({
					url : "/selectInterNoti?pageNum="+pageNum,
					method : "GET",
					dataType : "json",
					success : function(res) {
						console.log(res);
						makeInterList(res);
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.error(textStatus, errorThrown);
					}
				});
			}
			//관심게시글목록 출력
			function makeInterList(res){
				let html = '';
				
				for(let i=0;i<res.length;i++){
					let notice = `<div id="`+res[i].jobSearchNo+`" onclick="location.href='/selfJobDetail?jobSearchNo=`+res[i].jobSearchNo+`&resumeNo=`+res[i].resumeNo+`'"
						class="row align-items-center border-bottom p-4 mb-3 hoverRow">
						<div class="col-md-3 text-center">
							<a href="#"> <img class="img-fluid"
								src="assets/img/blog/blog-hero.png" alt="">
							</a>
						</div>
						<div class="col-md-6 text-center text-lg-start">
							<div
								class="d-flex align-items-center justify-content-center justify-content-lg-start gap-3">
								<p class="fw-bold mb-0 text-black">`+res[i].dutyFld+`</p>
								<p class="mb-0">`+res[i].regDt+`</p>
								<span><i id="heartIcon"
									class="bi bi-suit-heart-fill text-danger fa-2x"></i></span>`
									
								if(res[i].offerCd != 'null' && res[i].acceptStatus == '대기중'){//제안 완료 하트표시
								notice += `<span><i id="heartIcon"
									class="bi bi-suit-heart fa-2x" style="color:#6610f2;"></i></span>`
							}else if(res[i].offerCd != 'null' && res[i].acceptStatus != '대기중'){
								notice += `<span><i id="heartIcon"
									class="bi bi-suit-heart-fill fa-2x" style="color:#6610f2;"></i></span>`	
							}
								
							notice +=`</div>
							<p class="fs-2 my-3">`+res[i].intro+`</p>
							<div
								class="d-flex align-items-center justify-content-center justify-content-lg-start gap-2">
								<img class="img-fluid" src="assets/img/blog/profile1.png"
									alt="">
								<p class="mb-0">`+res[i].id+`</p>
							</div>
						</div>
						<div class="col-md-3"
							style="display: flex; align-items: center; flex-direction: column;">
							<button type="button" onclick="deleteInter(\'`+res[i].jobSearchNo+`\')"
								class="btn btn-danger btn-sm listBtn mb-1">관심해제</button>`
							if(res[i].offerCd != 'null'){//제안 완료된 게시글 버튼 다르게 표시
								notice += `<button type="button" btn="offerBtn" onclick="offerCompletedBtn(\'`+res[i].jobSearchNo+`\')"
								class="btn btn-info btn-sm listBtn mb-1" data-bs-toggle="modal" data-bs-target="#exampleModalLg">제안완료</button>
								<p class="mb-0">`+res[i].acceptStatus+`</p>`
							}else {
								notice += `<button type="button" btn="offerBtn" onclick="insertJobSearchNo(\'`+res[i].jobSearchNo+`\')"
								class="btn btn-outline-info btn-sm listBtn" data-bs-toggle="modal" data-bs-target="#exampleModalLg">제안</button>`
							}
						notice += `</div>
					</div>`; 
					html += notice;
					notice = '';
				}
				html += paging();
				selfList.innerHTML = html;
			}
			//제안완료클릭
			function offerCompletedBtn(jobSearchNo){
				event.stopPropagation();
				$.ajax({
					url : "/selectOffer?jobSearchNo="+jobSearchNo,
					method : "GET",
					dataType : "json",//받는타입
					success : function(res) {
						console.log(res);
						insertOffer(res);
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.error(textStatus, errorThrown);
					},
				});
			}
			//제안완료모달에 제안이력 넣기
			function insertOffer(res){
				$('[name="coNm"]').val(res.coNm);	
				$('[name="wksite"]').val(res.wksite);	
				$('[name="tech"]').val(res.tech);	
				$('[name="maBuss"]').val(res.maBuss);	
				$('[name="bnft"]').val(res.bnft);	
				$('[name="saly"]').val(res.saly);	
				$('[name="bussStartDt"]').val(res.bussStartDt);	
				$('[name="clsDt"]').val(res.clsDt);	
				$('[name="projectNm"]').val(res.projectNm);	
				$('[name="ttl"]').val(res.ttl);	
				//제안버튼숨기기
				offerBtn.setAttribute("hidden",true);
			}
			//모달취소클릭
			function closeModal(){
				offerBtn.removeAttribute("hidden");
				$('[name="coNm"]').val('');	
				$('[name="wksite"]').val('');	
				$('[name="tech"]').val('');	
				$('[name="maBuss"]').val('');	
				$('[name="bnft"]').val('');	
				$('[name="saly"]').val('');	
				$('[name="bussStartDt"]').val('');	
				$('[name="clsDt"]').val('');	
				$('[name="projectNm"]').val('');	
				$('[name="ttl"]').val('');	
			}			
			//관심 페이징버튼 만들기
			function paging(){
				let pageSu = Math.ceil(totalInter/5); //ceil 올림
				console.log(pageSu)
				let paging = `<nav aria-label="Page navigation example">
					  <ul class="pagination d-flex justify-content-center">
				    <li class="page-item">
				      <a class="page-link" href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>`;
				    /* <a class="page-link" href="/selectInterNoti?pageNum=`+i+`">`+i+`</a> */
				    for(let i=1;i<=pageSu;i++){
				    	paging +=
						    `<li class="page-item"><span onclick="selectInterNoti(`+i+`)" class="page-link">`+i+`</span></li>`
						    ;	
				    }
				    paging +=
				    `
				    <li class="page-item">
				      <a class="page-link" href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>`;
				return paging;
			}
			
			//모달에 게시글번호 넣기
			function insertJobSearchNo(no){
				event.stopPropagation();
				document.querySelector('[name="jobSearchNo"]').value = no;
				console.log(no)
				getOfferModalData();//모달에 구인공고목록 들고오기
			}
			
			//모달 안에서 제안클릭
			function offerCheck(){
				$('#offerForm').submit();
				
			}
			//제안모달 안 필요한 구인공고 목록
			function getOfferModalData(){
				let id = '[[${id.id}]]';
				 $.ajax({
						url : "/getOfferModalData?id="+id,
						method : "GET",
						dataType : "json",//받는타입
						success : function(res) {
							console.log(res);
							insertRecruit(res);//모달에 공고 넣기
						},
						error : function(res) {
							console.log(res);
						},
				}); 	
			}
			//제안모달에 구인공고목록 넣기
			function insertRecruit(res){
				for(let i=0;i<res.length;i++){
					document.querySelector('[name="ttl"]').innerHTML += `<option value="`+res[i].id+`">`+res[i].ttl+`</option>`
				}
			}
			//관심클릭 관심해제
			function deleteInter(no){
				event.stopPropagation();
				Swal.fire({
					   title: '관심을 해제 하시겠습니까?',
					   text: '',
					   icon: 'question',
					   
					   showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
					   confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
					   cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
					   confirmButtonText: '해제', // confirm 버튼 텍스트 지정
					   cancelButtonText: '취소', // cancel 버튼 텍스트 지정
					   
					   reverseButtons: true, // 버튼 순서 거꾸로
					   
					}).then(result => {
					   // 만약 Promise리턴을 받으면,
					   if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
						   $.ajax({
								url : "/deleteInter?jobSearchNo="+no,
								method : "POST",
								success : function(res) {
									console.log(res);
									$('#'+no).remove();
									 smallInter.click();
									
								},
								error : function(jqXHR, textStatus, errorThrown) {
									console.error(textStatus, errorThrown);
								}
							});	
					      
					   }
					});	
			}

			//제안완료된구직글호출
			function selectOfferNoti() {
				$.ajax({
					url : "/selectOfferNoti",
					method : "GET",
					dataType : "json",
					success : function(res) {
						console.log(res);
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.error(textStatus, errorThrown);
					}
				});
			}
			function test(t) {
				console.log(t);
			}
		

			//ajax예시
			/* $.ajax({
				url : "server.php",
				method : "POST",
				data : {
					name : "John",
					age : 30
				},
				dataType : "json",//받는타입
				contentType : "application/json",//보내는타입
				success : function(res) {
					console.log(res);
				},
				error : function(jqXHR, textStatus, errorThrown) {
					console.error(textStatus, errorThrown);
				},
			}); */
			
			//sweet alert
			/* Swal.fire({
					   title: '정말로 그렇게 하시겠습니까?',
					   text: '다시 되돌릴 수 없습니다. 신중하세요.',
					   icon: 'warning',
					   
					   showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
					   confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
					   cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
					   confirmButtonText: '승인', // confirm 버튼 텍스트 지정
					   cancelButtonText: '취소', // cancel 버튼 텍스트 지정
					   
					   reverseButtons: true, // 버튼 순서 거꾸로
					   
					}).then(result => {
					   // 만약 Promise리턴을 받으면,
					   if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
					   
					      Swal.fire('승인이 완료되었습니다.', '화끈하시네요~!', 'success');
					   }
					});	 */
		</script>
	</div>
	<!-- container끝 -->
</body>
</html>
