<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<link href="community/jobQnA.css" rel="stylesheet">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<span class="fw-bold fs-3" style="color:#0a2640;">나의 보유 아이템 목록</span>	
		<hr>
		
	</div>
</body>
</html>