<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.emp.mapper.EmpMapper">
<!-- id는 메소드 이름  -->
  <select id="empList" resultType="co.yedam.emp.vo.EmpVO">
    select * from emp_temp order by employee_id
  </select>
  
  <select id="getEmp" resultType="co.yedam.emp.vo.EmpVO" parameterType="int">
    select * from emp_temp where employee_id = #{empId}
  </select>
</mapper>