<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/adminLayout}">
<head>
<style>
.breadcrumb {
	padding: 0;
	border: 0px;
}

.spanTitle {
	text-align: center;
}

.removeRight {
	margin-right: 0px;
}

#userList {
	min-height: 600px;
}

#userDetail table tr th, #userDetail table tr td {
	padding-left: 10px;
	padding-right: 0;
}

#userDetail table tr th {
	width: 20%
}

#userDetail table td {
	padding: 0;
}

#userDetail table td>input[type="text"], #userDetail table td>select {
	width: 100%;
	height: 100%;
	margin: 0;
	border: none;
	box-sizing: border-box;
	outline: none;
	font-size: inherit;
}

.btn-link {
	color: inherit;
	background-color: transparent;
	border: none;
	padding: 0;
	outline: inherit;
}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div class="content-wrapper" layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-12 col-xl-8 mb-4 mb-xl-0">
						<h2 class="font-weight-bold">일반회원</h2>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/admin">홈</a></li>
								<li class="breadcrumb-item active" aria-current="page">일반회원</li>
							</ol>
						</nav>
					</div>
					<div class="col-12 col-xl-4">
						<div class="justify-content-end d-flex"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div
								class="col-md-2 spanTitle d-flex align-items-center justify-content-center">
								<span>회원상태</span>
							</div>
							<div class="col-md-6">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="liveUser"
										value="liveUser"> <label class="form-check-label"
										for="liveUser">사용계정</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="dormUser"
										value="I5"> <label class="form-check-label"
										for="dormUser">휴면계정</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="withdrawUser" value="I3"> <label
										class="form-check-label" for="withdrawUser">탈퇴계정</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div
								class="col-md-2 spanTitle d-flex align-items-center justify-content-center">
								<span>회원분류</span>
							</div>
							<div class="col-md-6">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="comUser"
										value="I1"> <label class="form-check-label"
										for="comUser">일반회원</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="busiUser"
										value="I2"> <label class="form-check-label"
										for="busiUser">기업회원</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div
								class="col-md-2 spanTitle d-flex align-items-center justify-content-center">
								<span>회원 명</span>
							</div>
							<div class="col-md-6">
								<div class="form-check form-check-inline">
									<input class="form-check-input removeRight" type="text"
										id="Name" value=""> <label class="form-check-label"
										for="userName"></label>
								</div>
							</div>
						</div>
						<div class="row">
							<div
								class="col-md-2 spanTitle d-flex align-items-center justify-content-center">
								<span>가입일자</span>
							</div>
							<div class="col-md-6">
								<div class="form-check form-check-inline removeRight">
									<input class="form-check-input removeRight" type="date"
										id="startDate" value=""> <label
										class="form-check-label" for="startDate"></label>
								</div>
								<span>-</span>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="date" id="endDate"
										value=""> <label class="form-check-label"
										for="endDate"></label>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 grid-margin stretch-card">
				<div class="card">
					<div class="card-body" id="userList"></div>

				</div>
			</div>
			<div class="col-md-6 grid-margin stretch-card">
				<div class="card">
					<div class="card-body" id="userDetail">
						<div class="row text-center">
							<div class="col-md-4">
								<button class="btn btn-link">회원정보</button>
							</div>
							<div class="col-md-4">
								<button class="btn btn-link">작성글</button>
							</div>
							<div class="col-md-4">
								<button class="btn btn-link">댓글</button>
							</div>
						</div>
						<hr>
						<div id="firstContent">
							<table class="table table-bordered">
								<tbody>
									<tr>
										<th scope="row">이름</th>
										<td></td>
										<th>회원분류</th>
										<td></td>
									</tr>
									<tr>
										<th scope="row">가입일자</th>
										<td></td>
										<th>최근접속</tthd>
										<td></td>
									</tr>
									<tr>
										<th scope="row">주소</th>
										<td colspan="3"><input type="text"></td>
									</tr>
									<tr>
										<th scope="row">휴대폰</th>
										<td><input type="text"></td>
										<th>이메일</th>
										<td><input type="text"></td>
									</tr>
									<tr>
										<th scope="row">현재상태</th>
										<td></td>
										<th></th>
										<td></td>
									</tr>
								</tbody>
							</table>
							<div style="text-align: right;">
								<button class="btn btn-primary">수정</button>
								<button class="btn btn-info">휴면전환</button>
								<button class="btn btn-info">강제탈퇴</button>
							</div>
						</div>
						<div id="secondContent"></div>
						<div id="thirdContent"></div>
						<hr>
					</div>

				</div>
			</div>
		</div>
		<script>
			const Grid = tui.Grid;
			//유저 작성 목록
			const secondContent = new Grid({
				el : document.querySelector('#secondContent'),
				columns : [ {
					header : '등록일자',
					name : 'regDt'
				}, {
					header : '게시글분류',
					name : 'postType'
				}, {
					header : '제목',
					name : 'ttl',
				}, {
					header : '조회수',
					name : 'inqCnt'
				}, ],
				data : [],
				minBodyHeight : 520,
			});
			var id ='user';
			
			$.ajax({
				url : '/getUserPost',
				method : 'post',
				data : {id : id},
				success : function(response) {
					console.log(response);
					var data = [ response.qa,  response.study,  response.intr,  response.prjt];
				
					secondContent.resetData(data);
				},
				error : function(error) {
					console.error(error);
				}
			});

			//유저 목록
			const userList = new Grid({
				el : document.querySelector('#userList'), // Container element
				columns : [ {
					header : '아이디',
					name : 'id'
				}, {
					header : '이름',
					name : 'name'
				}, {
					header : '회원분류',
					name : 'clsf',
				}, {
					header : '전화번호',
					name : 'phCl'
				}, {
					header : '가입일자',
					name : 'joinDt'
				}, ],
				data : [],
				minBodyHeight : 520,
			});

			$.ajax({
				url : '/getUserInfo',
				method : 'GET',
				success : function(response) {
					console.log(response);
					const data = response.map(function(item) {
						return {
							id : item.id,
							name : item.name,
							clsf : item.clsf,
							phCl : item.phCl,
							joinDt : item.joinDt
						};
					});

					userList.resetData(data);
				},
				error : function(error) {
					console.error(error);
				}
			});

			$(document).ready(
					function() {
						$('button.btn')
								.click(
										function() {
											$(this).parent().siblings().find(
													'button.btn').css('color',
													'black');
											$(this).css('color', 'red');
										});
					});
		</script>
	</div>

</body>
</html>