<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<style>
.countVal{
	height:100px;
	font-size:80px;
}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<div class="col-xl-3 col-md-2 text-center">
				<div class="card">
					<div class="card-body">
						<h4>000기업</h4>
						<a id="insertInfo" type="button" class="btn btn-light" href="">기업정보등록</a>
						<div class="accordion" id="sideMenu">
							<div class="accordion-item">
								<h2 class="accordion-header" id="panelsStayOpen-headingOne">
									<button class="accordion-button collapsed p-1" type="button"
										data-bs-toggle="collapse"
										data-bs-target="#panelsStayOpen-collapseOne"
										aria-expanded="false"
										aria-controls="panelsStayOpen-collapseOne">이력서</button>
								</h2>
								<div id="panelsStayOpen-collapseOne"
									class="accordion-collapse collapse"
									aria-labelledby="panelsStayOpen-headingOne">
									<div
										class="accordion-body d-flex flex-column align-items-center  p-0">
										<div class="mb-1">
											<a href="">이력서 등록</a>
										</div>
										<div class="mb-1">
											<a href="">이력서 관리</a>
										</div>
									</div>
								</div>
							</div>
							<div class="accordion-item ">
								<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
									<button class="accordion-button collapsed p-1" type="button"
										data-bs-toggle="collapse"
										data-bs-target="#panelsStayOpen-collapseTwo"
										aria-expanded="false"
										aria-controls="panelsStayOpen-collapseTwo">현황</button>
								</h2>
								<div id="panelsStayOpen-collapseTwo"
									class="accordion-collapse collapse"
									aria-labelledby="panelsStayOpen-headingTwo" style="">
									<div
										class="accordion-body d-flex flex-column align-items-center p-0">
										<div class="mb-1">
											<a href="">구직 현황</a>
										</div>
										<div class="mb-1">
											<a href="">관심기업</a>
										</div>
									</div>
								</div>
							</div>
							<hr />
							<div class="accordion-item">
								<h2 class="accordion-header" id="panelsStayOpen-headingThree">
									<button class="accordion-button collapsed p-1" type="button"
										data-bs-toggle="collapse"
										data-bs-target="#panelsStayOpen-collapseThree"
										aria-expanded="false"
										aria-controls="panelsStayOpen-collapseThree">개인정보</button>
								</h2>
								<div id="panelsStayOpen-collapseThree"
									class="accordion-collapse collapse"
									aria-labelledby="panelsStayOpen-headingThree" style="">
									<div
										class="accordion-body d-flex flex-column align-items-center  p-0">
										<div class="mb-1">
											<a href="">개인정보 수정</a>
										</div>
										<div class="mb-1">
											<a href="">작성글 목록</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-xl-9 col-md-8 text-center">
				<div class="card">
					<section class="bg-dark pt-6">
						<div class="container">
							<div class="col-md-6">
								<h1 class="text-white fs-lg-5 fs-md-3 fs-2">
									이달의 공고 <span
										class="py-1 px-2 rounded-2 bg-success fw-bold text-dark ms-2">Hiring!</span>
								</h1>
								<br>
							</div>
							<div class="swiper mt-7">
								<!--  -->
								<div class="swiper-container swiper-theme"
									data-swiper='{"slidesPerView":1,"breakpoints":{"640":{"slidesPerView":1,"spaceBetween":10},"768":{"slidesPerView":2,"spaceBetween":20},"1025":{"slidesPerView":3,"spaceBetween":40}},"spaceBetween":10,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"navigation":{"nextEl":".swiper-button-next","prevEl":".swiper-button-prev"},"loop":true,"freeMode":true,"loopedSlides":3}'>
									<div class="swiper-wrapper">
										<div class="swiper-slide bg-white p-5 rounded-3 h-auto">
											<div class="d-flex flex-column justify-content-between h-100">
												<h4 class="text-black">구인 분야, 고용형태</h4>
												<div class="d-flex align-items-center gap-3 mt-5">
													<img src="" alt="" />
													<div class="text-black">
														<p class="mb-0 fw-bold text-dark">기업이름</p>
														<small>기업메일 @ mail.com</small>
													</div>
												</div>
											</div>
										</div>
										<!--  -->
										<div class="swiper-slide bg-white p-5 rounded-3 h-auto">
											<div class="d-flex flex-column justify-content-between h-100">
												<h4 class="text-black">구인 분야, 고용형태</h4>
												<div class="d-flex align-items-center gap-3 mt-5">
													<img src="" alt="" />
													<div class="text-black">
														<p class="mb-0 fw-bold text-dark">기업이름</p>
														<small>기업메일 @ mail.com</small>
													</div>
												</div>
											</div>
										</div>
										<!--  -->
										<div class="swiper-slide bg-white p-5 rounded-3 h-auto">
											<div class="d-flex flex-column justify-content-between h-100">
												<h4 class="text-black">구인 분야, 고용형태</h4>
												<div class="d-flex align-items-center gap-3 mt-5">
													<img src="" alt="" />
													<div class="text-black">
														<p class="mb-0 fw-bold text-dark">기업이름</p>
														<small>기업메일 @ mail.com</small>
													</div>
												</div>
											</div>
										</div>
										<!--  -->
									</div>
								</div>
								<div class="swiper-button-next">
									<span class="fas fa-arrow-right fs-lg-3 fs-2"></span>
								</div>
								<div class="swiper-button-prev">
									<span class="fas fa-arrow-left fs-lg-3 fs-2"></span>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-xl-3 col-md-2 text-center"></div>
			<div class="card col-xl-9 col-md-8 border-white">
				<h3>입사지원 현황</h3>
				<div class="card-body">
					<div class="row">
						<div class="col-xl-4 col-md-4 text-center">
						<span class="countVal">0</span>
						<p>지원완료</p>
						</div>
						<div class="col-xl-4 col-md-4 text-center border-start">
						<span class="countVal">0</span>
						<p>열람</p>
						</div>
						<div class="col-xl-4 col-md-4 text-center border-start">
						<span class="countVal">0</span>
						<p>지원취소</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lx-5 flex-column">
							<div>
								<label for=""
							</div>
						</div>
						<div class="col-lx-5 flex-column"></div>
						<div class="col-lx-2"></div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 	</div> -->
</body>
</html>