<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- editor -->
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.css"
    />
    <!-- DatePicker -->
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css"
    />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <!-- grid -->
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/grid/latest/tui-grid.css"
    />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <!-- SweetAlert -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <!-- 		icon-cdn for Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />

    <link href="/vendors/prism/prism.css" rel="stylesheet" />
    <link href="/vendors/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/assets/css/theme.css" rel="stylesheet" />
    <!--     <link href="/assets/css/user.css" rel="stylesheet" /> -->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->

    <script src="/vendors/popper/popper.min.js"></script>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors/anchorjs/anchor.min.js"></script>
    <script src="/vendors/is/is.min.js"></script>
    <script src="/vendors/fontawesome/all.min.js"></script>
    <script src="/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/vendors/prism/prism.js"></script>
    <script src="/vendors/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <style>
      .inpCon {
        width: 700px;
        height: fit-content;
      }
      .hit {
        height: 1500px;
      }
      .ali {
        text-align: center;
      }
      #forUser {
        cursor: pointer;
      }
      #forCo {
        cursor: pointer;
      }
    </style>
    <title>Insert title here</title>
  </head>
  <body>
    <div class="bg-light">
      <div class="container d-flex justify-content-center">
        <!--  <main>-->
        <div class="row g-5 inpCon align-items-center">
          <div class="col-md-7 col-lg-8 mx-auto">
            <div class="ali"><h3>회원가입</h3></div>
            <div class="row">
              <div class="col-6 ali mt-3" id="forUser">일반회원</div>
              <div class="col-6 ali mt-3" id="forCo">기업회원</div>

              <!-- -------------------일반시작------------------------------------- -->
              <div class="row g-3" id="userForm" style="display: block">
                <div class="col-12">
                  <label
                    for="id"
                    class="form-label"
                    style="width: 150px; text-align: left"
                    ><b>아이디</b></label
                  >
                  <input
                    type="text"
                    class="form-control input_id"
                    placeholder="아이디를 입력해 주세요"
                    name="id"
                    required
                  />
                  <font id="checkId" size="2"></font>
                </div>

                <div class="col-12">
                  <label
                    for="password"
                    class="form-label"
                    style="width: 150px; text-align: left; text-align: left"
                    ><b>비밀번호</b></label
                  >
                  <input
                    type="password"
                    class="form-control"
                    placeholder="비밀번호를 입력해 주세요"
                    name="pw"
                    required
                  />
                </div>
                <div class="col-12">
                  <label
                    for="passwordCheck"
                    class="form-label"
                    style="width: 150px; text-align: left"
                    ><b>비밀번호 확인</b>
                  </label>
                  <input
                    type="password"
                    class="form-control"
                    name="pscheck"
                    placeholder="비밀번호 확인"
                    required
                  />
                  <font id="checkUps" size="2"></font>
                </div>

                <div class="col-12">
                  <label
                    for="username"
                    class="form-label"
                    style="width: 150px; text-align: left"
                    ><b>이름</b></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="이름을 입력해 주세요"
                    required
                  />
                </div>

                <div class="col-9 me-0">
                  <label
                    for="email"
                    class="form-label"
                    style="width: 150px; text-align: left"
                    >연락처</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="ph"
                    placeholder="휴대전화번호를 입력해주세요"
                    oninput="phTemp(this)"
                    maxlength="13"
                  />
                  <div class="invalid-feedback">전화번호를 입력 해 주세요</div>
                </div>
                <div class="col-3 mt-5">
                  <button id="phCheck">인증번호 발송</button>
                </div>
              </div>
              <!---------------------------------------기업시작----------------------------------------------->
              <div class="row g-3" id="coForm" style="display: none">
                <div class="col-12">
                  <label
                    for="id"
                    class="form-label"
                    style="width: 150px; text-align: left"
                    ><b>아이디</b></label
                  >
                  <input
                    type="text"
                    class="form-control input_id"
                    placeholder="아이디를 입력해 주세요"
                    name="id"
                    required
                  />
                  <font id="checkId" size="2"></font>
                </div>

                <div class="col-12">
                  <label
                    for="password"
                    class="form-label"
                    style="width: 150px; text-align: left; text-align: left"
                    ><b>비밀번호</b></label
                  >
                  <input
                    type="password"
                    class="form-control"
                    placeholder="비밀번호를 입력해 주세요"
                    name="pw"
                    required
                  />
                </div>
                <div class="col-12">
                  <label
                    for="passwordCheck"
                    class="form-label"
                    style="width: 150px; text-align: left"
                    ><b>비밀번호 확인</b>
                  </label>
                  <input
                    type="password"
                    class="form-control"
                    name="pscheck"
                    placeholder="비밀번호 확인"
                    required
                  />
                  <font id="checkUps" size="2"></font>
                </div>

                <div class="col-12">
                  <label
                    for="cname"
                    class="form-label"
                    style="width: 150px; text-align: left"
                    ><b>이름</b></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="이름을 입력해 주세요"
                    required
                  />
                </div>

                <div class="col-9">
                  <label
                    for="email"
                    class="form-label"
                    style="width: 150px; text-align: left"
                    >사업자 번호</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="bizno"
                    placeholder=""
                    readonly
                  />
                  <div class="invalid-feedback">전화번호를 입력 해 주세요</div>
                </div>
                <div class="col-3 mt-5">
                  <button id="coCheck">사업자 확인</button>
                </div>
              </div>
              <hr class="my-4" />
              <div class="d-flex">
                <button class="w-50 btn btn-lg" id="btnSign">회원가입</button>
                <button
                  class="w-50 btn btn-lg"
                  type="button"
                  onclick="history.back()"
                >
                  취소
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- </main>-->
      </div>
    </div>
    <!-- ---------------휴대폰 인증 모달------------------------------- -->
    <div
      class="modal fade"
      id="phoneModal"
      tabindex="-1"
      aria-labelledby="pofolModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content radius">
          <div class="modal-header">
            <h5 class="modal-title">실명확인</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <tbody class="trColor">
                <tr>
                  <th>인증번호</th>
                  <td>
                    <input
                      id="chKey"
                      name="chKey"
                      type="text"
                      class="fullWidth"
                    />
                  </td>
                  <td>
                    <button
                      id="chPh"
                      type="button"
                      class="btn btn-secondary radius p-2"
                      style="background-color: gray; border: none"
                    >
                      확인
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary radius p-2"
              style="background-color: gray; border: none"
              data-bs-dismiss="modal"
            >
              닫기
            </button>
            <button
              id="pofolRegBtn"
              type="button"
              class="btn btn-dark radius p-2"
            >
              인증번호 재발급
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------사업자 인증 모달-------------------- -->
    <div
      class="modal fade"
      id="numberModal"
      tabindex="-1"
      aria-labelledby="pofolModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content radius">
          <div class="modal-header">
            <h5 class="modal-title">사업자 확인</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <tbody class="trColor">
                <tr>
                  <th class="p-3">사업자 번호</th>
                  <td class="p-3">
                    <input
                      id="chNum"
                      name="chNum"
                      type="text"
                      class="fullWidth"
                      style="border: 1px solid #ddd"
                    />
                  </td>
                  <td>
                    <button
                      type="button"
                      id="btnCo"
                      name="btnCo"
                      class="btn btn-secondary radius p-2"
                      style="background-color: gray; border: none"
                    >
                      확인
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary radius p-2"
              style="background-color: gray; border: none"
              data-bs-dismiss="modal"
            >
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const phTemp = (target) => {
        target.value = target.value
          .replace(/[^0-9]/g, "")
          .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3")
          .replace(/(\-{1,2})$/g, "");
      };
      //       전화 번호 정규식
      let replacePhCl = {
        reg: /^(0[1-9]\d{2})\d{4}\d{4}$/,
        msg: "올바른 휴대폰 번호를 입력해 주세요",
      };

      $(document).ready(function () {
        var regExp =
          /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
        $("#forUser").on("click", function () {
          $("#forCo").attr("style", "backgroud-color : brown");
          $("#userForm").attr("style", "display: block");
          $("#coForm").attr("style", "display: none");
        });
        $("#forCo").on("click", function () {
          $("#forUser").attr("style", "backgroud-color : brown");
          $("#userForm").attr("style", "display: none");
          $("#coForm").attr("style", "display: block");
        });
        $("#coCheck").on("click", function () {
          console.log("되네");
          $("#numberModal").modal("show");
        });
        //         $(".input_id").focusout(function () {
        //           let userId = $(".input_id").val().trim();
        //           console.log(userId);
        //           $.ajax({
        //             url: "/checkId",
        //             type: "GET",
        //             data: {id:userId},
        //             success: function (result) {
        //               if (result>=1) {
        //                 $("#checkId").html("사용할 수 없는 아이디 입니다.");
        //                 $("#checkId").attr("color", "red");
        //               } else if (
        //                 result==0 &&
        //                 $(".input_id").val() == ""
        //               ) {
        //                 $("#checkId").html("아이디를 입력하세요");
        //                 $("#checkId").attr("color", "red");
        //               } else {
        //                 $("#checkId").html("사용할 수 있는 아이디 입니다.");
        //                 $("#checkId").attr("color", "green");
        //               }
        //             },
        //             error: function () {
        //               alert("서버요청 실패");
        //             },
        //           });
        //         });

        $("#pscheck").focusout(function () {
          let pscheck = $("#pscheck").val().trim();
          let ps = $("#ups").val().trim();
          console.log(pscheck);
          if (pscheck == null || pscheck == "") {
            $("#checkUps").html("");
          } else if (ps != pscheck) {
            $("#checkUps").html("비밀번호가 일치하지 않습니다.");
            $("#checkUps").attr("color", "red");
          } else {
            $("#checkUps").html("비밀번호가 일치합니다.");
            $("#checkUps").attr("color", "green");
          }
        });
        $("#phCheck").on("click", function () {
          // 			chkReg(replacePhCl,$(this));
          $("#phoneModal").modal("show");
        });
        $("#chPh").on("click", function () {
          let memPh = $("input[name=chkey]").val();
          let timestamp = new Date().getTime().toString();
          let body = {
            type: "SMS",
            contentType: "COMM",
            countryCode: "82",
            from: "010-6339-6817",
            subject: "인증번호 발송",
            content: "문자 가냐",
            messages: [
              {
                to: "010-6339-6817",
                content: "문자 보내기 API 테스트입니다.",
              },
            ],
          };
          $.ajax({
            type: "POST",
            url: "https://sens.apigw.ntruss.com/sms/v2/services/ncp:sms:kr:308594044602:moamore/messages",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(body),

            success: function (res) {
              alert("success");
            },
            error: function (xhr) {
              alert(xhr.responseText);
            },
          });
        });
        $("#btnCo").on("click", function () {
          let coNum = $("input[name=chNum]").val();
          console.log(coNum);

          var data = {
            b_no: [coNum], // 사업자번호 "xxxxxxx" 로 조회 시,
          };

          $.ajax({
            url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=fnNvgI%2F85j%2FrXVYeAtfnN1hGMK65xH8FI5d1cG2%2By9hoNLV17dHqrp2VmlXr%2BrKWCccdvk95IS5QYa82JbKilg%3D%3D",
            type: "POST",
            data: JSON.stringify(data), // json 을 string으로 변환하여 전송
            dataType: "JSON",
            contentType: "application/json",
            accept: "application/json",
            success: function (result) {
              console.log(result);
            },
            error: function (result) {
              console.log(result.responseText); //responseText의 에러메세지 확인
            },
          });
        });

        //joinform_check 함수로 유효성 검사
        function joinform_check() {
          //변수에 담아주기
          let uid = document.getElementById("uid");
          let pwd = document.getElementById("ups");
          let pscheck = document.getElementById("pscheck");
          let repwd = document.getElementById("checkUps").getAttribute("color");
          let uname = document.getElementById("uname");
          let mobile = document.getElementById("uphone");
          console.log(repwd);

          if (id.value == "") {
            //해당 입력값이 없을 경우 같은말: if(!uid.value)
            alert("아이디를 입력하세요.");
            id.focus(); //focus(): 커서가 깜빡이는 현상, blur(): 커서가 사라지는 현상
            return false; //return: 반환하다 return false:  아무것도 반환하지 말아라 아래 코드부터 아무것도 진행하지 말것
          }

          if (pwd.value == "") {
            alert("비밀번호를 입력하세요.");
            pwd.focus();
            return false;
          }

          //비밀번호 영문자+숫자+특수조합(8~25자리 입력) 정규식
          let pwdCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;

          if (!pwdCheck.test(pw.value)) {
            alert(
              "비밀번호는 영문자+숫자+특수문자 조합으로 8~25자리 사용해야 합니다."
            );
            pw.focus();
            return false;
          }

          if (repwd == "red") {
            alert("비밀번호가 일치하지 않습니다.");
            pscheck.focus();
            return false;
          }

          if (name.value == "") {
            alert("이름을 입력하세요.");
            name.focus();
            return false;
          }

          var reg = /^[0-9]+/g; //숫자만 입력하는 정규식

          if (!reg.test(mobile.value)) {
            alert("전화번호는 숫자만 입력할 수 있습니다.");
            mobile.focus();
            return false;
          }

          //입력 값 전송
          document.signUp.submit(); //유효성 검사의 포인트
        }

        //      정규식 확인 알람
        function chkReg(data, loc) {
          let value = $(loc).val();
          //           console.log(value);
          //           console.log(data.reg);
          if (!data.reg.test(value)) {
            $(this).val("");
            Swal.fire({
              title: "!!!!",
              text: data.msg + "!!",
              icon: "warning",
              confirmButtonText: "확인!",
            });
            return;
          }
        }
      });
    </script>
  </body>
</html>
