<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
    <head>
        <title>Hello World!</title>
<style>
 ul{
 	list-style:none;
 }
 .container{
 	display:flex;
 }
</style>
    </head>
    <body >
    <div layout:fragment="content">
        <ul id="container">
        	<li>
        		<div>
        			aaaa
        			aaaa
        			aaaa
        			aaaa
        		</div>
        		<div>
        			bbbb
        			bbbb
        			bbbb
        			bbbb
        		</div>
        	</li>
        	<li>
        		<div>
        			dddd
        			dddd
        			dddd
        			dddd
        		</div>
        		<div>
        			cccc
        			cccc
        			cccc
        			cccc
        		</div>
        	</li>
        	<li>	
        		<div>
        			eeee
        			eeee
        			eeee
        			eeee
        		</div>
        		<div>
        			ffff
        			ffff
        			ffff
        			ffff
        		</div>
        	</li>
        </ul>
    </div>
    </body>
</html>