<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="userid"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
            <div sec:authorize="isAuthenticated()">
			    Logged in as: <span id="user" th:text="${userName}">None</span>
			    <span id="user" th:text="${NickName}">None</span>
			    <span id="user" th:text="${Email}">None</span>
			    <span id="user" th:text="${Gender}">None</span>
			    <span id="user" th:text="${Age}">None</span>
			    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
			</div>
			<a sec:authorize="isAnonymous()" href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
			<a href="https://nid.naver.com/oauth2.0/authorize" class="btn btn-secondary active" role="button">네이버 재인증</a>
			<a sec:authorize="isAnonymous()" href="/oauth2/authorization/kakao" class="btn btn-secondary active" role="button">Kakao Login</a>
    </body>
    <script>
            
    </script>
</html>