<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<title>Spring Security Example</title>
<!-- Favicons -->
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
	<main style="background-color: #0A2640">
		<div class="row">
			<div class="col-md-6"
				style="text-align: center; vertical-align: middle;">
				<span style="color: #65E4A3;">MoaMore</span>
			</div>
			<div class="col-md-6">
				<div class="container" style="background-color: white;">
					<section
						class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
						<div class="container">
							<div
								class=" d-flex flex-column align-items-center justify-content-center">
								<div class="card mb-3 w-50">
									<div class="card-body">
										<div sec:authorize="isAnonymous()">
											<!-- Bordered Tabs Justified -->
											<ul class="nav nav-tabs nav-tabs-bordered d-flex"
												id="borderedTabJustified" role="tablist">
												<li class="nav-item flex-fill" role="presentation">
													<button class="nav-link w-100 active" id="home-tab"
														data-bs-toggle="tab"
														data-bs-target="#bordered-justified-home" type="button"
														role="tab" aria-controls="home" aria-selected="true">일반회원</button>
												</li>
												<li class="nav-item flex-fill" role="presentation">
													<button class="nav-link w-100" id="profile-tab"
														data-bs-toggle="tab"
														data-bs-target="#bordered-justified-profile" type="button"
														role="tab" aria-controls="profile" aria-selected="false"
														tabindex="-1">기업회원</button>
												</li>
											</ul>
											<div class="tab-content pt-2"
												id="borderedTabJustifiedContent">
												<div class="tab-pane fade show active"
													id="bordered-justified-home" role="tabpanel"
													aria-labelledby="home-tab">
													<div class="pt-4 pb-2">
														<h5 class="card-title text-center pb-0 fs-4">Login to
															Your Account</h5>
														<p class="text-center small">Enter your username &
															password to login</p>
													</div>
													<div th:if="${param.error}">ID 또는 PW를 확인하세요.</div>

													<form action="/login" method="post"
														class="row g-3 needs-validation">
														<input type="hidden" th:value="user" name="user_key" />
														<div class="col-12">
															<label for="yourUsername" class="form-label">email</label>
															<div class="input-group has-validation">
																<input type="text" name="userid" class="form-control"
																	required>
																<div class="invalid-feedback">Please enter your
																	username.</div>
															</div>
														</div>

														<div class="col-12">
															<label for="yourPassword" class="form-label">Password</label>
															<input type="password" name="password"
																class="form-control" required>
															<div class="invalid-feedback">Please enter your
																password!</div>
														</div>
														<div class="col-12">
															<div class="form-check">
																<input class="form-check-input" type="checkbox"
																	name="remember" value="true" id="rememberMeUser">
																<label class="form-check-label" for="rememberMeUser">Remember
																	me</label>
															</div>
														</div>
														<div class="col-12">
															<button class="btn btn-primary w-100" type="submit">Login</button>
														</div>
														<div class="col-6 pt-2" style="margin-top: 0px">
															<a sec:authorize="isAnonymous()"
																href="/oauth2/authorization/naver" role="button"> <img
																class="w-100 h-100" src="images/btnG_축약형.png">
															</a>
														</div>
														<div class="col-6 pt-2" style="margin-top: 0px">
															<a sec:authorize="isAnonymous()"
																href="/oauth2/authorization/kakao" role="button"><img
																class="w-100 h-100" src="images/kakao_login_medium.png"></a>
														</div>
														<div class="col-6">
															<span class="small mb-0"> <a
																href="pages-register.html">회원가입</a>
															</span>
														</div>
														<div class="col-6" style="text-align: right">
															<span class="small mb-0"> <a class="pe-auto"
																data-bs-toggle="modal" data-bs-target="#userModal">아이디
																	찾기/비밀번호 찾기</a>
															</span>
														</div>
													</form>

												</div>
												<div class="tab-pane fade" id="bordered-justified-profile"
													role="tabpanel" aria-labelledby="profile-tab">
													<div class="pt-4 pb-2">
														<h5 class="card-title text-center pb-0 fs-4">Login to
															Your Account</h5>
														<p class="text-center small">Enter your username &
															password to login</p>
													</div>
													<div th:if="${param.error}">ID 또는 PW를 확인하세요.</div>
													<form action="/login" method="post"
														class="row g-3 needs-validation">
														<input type="hidden" th:value="co" name="user_key" />
														<div class="col-12">
															<label for="yourUsername" class="form-label">email</label>
															<div class="input-group has-validation">
																<input type="text" name="userid" class="form-control"
																	id="userid" required>
																<div class="invalid-feedback">Please enter your
																	username.</div>
															</div>
														</div>

														<div class="col-12">
															<label for="yourPassword" class="form-label">Password</label>
															<input type="password" name="password"
																class="form-control" id="password" required>
															<div class="invalid-feedback">Please enter your
																password!</div>
														</div>
														<div class="col-12">
															<div class="form-check">
																<input class="form-check-input" type="checkbox"
																	name="remember" value="true" id="rememberMeCo">
																<label class="form-check-label" for="rememberMeCo">Remember
																	me</label>
															</div>
														</div>
														<div class="col-12">
															<button class="btn btn-primary w-100" type="submit">Login</button>
														</div>
														<div class="row"></div>
														<div class="col-6">
															<span class="small mb-0"> <a
																href="pages-register.html">회원가입</a>
															</span>
														</div>
														<div class="col-6" style="text-align: right">
															<span class="small mb-0"> <a class="pe-auto"
																data-bs-toggle="modal" data-bs-target="#coModal">아이디
																	찾기/비밀번호 찾기</a>

															</span>
														</div>
													</form>

												</div>
											</div>
											<!-- End Bordered Tabs Justified -->
										</div>
										<div sec:authorize="isAuthenticated()">
											<span sec:authentication="principal.username"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<!-- 모달창 -->
		<div class="modal" id="userModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="card-body" style="padding-bottom: 0px">
							<!-- Bordered Tabs Justified -->
							<ul class="nav nav-tabs nav-tabs-bordered d-flex"
								id="borderedTabJustified" role="tablist">
								<li class="nav-item flex-fill" role="presentation">
									<button class="nav-link w-100 active" id="home-tab"
										data-bs-toggle="tab" data-bs-target="#userFind" type="button"
										role="tab" aria-controls="home" aria-selected="true">아이디
										찾기</button>
								</li>
								<li class="nav-item flex-fill" role="presentation">
									<button class="nav-link w-100" id="profile-tab"
										data-bs-toggle="tab" data-bs-target="#coFind" type="button"
										role="tab" aria-controls="profile" aria-selected="false"
										tabindex="-1">비밀번호 찾기</button>
								</li>
							</ul>
							<div class="tab-content pt-2" id="borderedTabJustifiedContent">
								<div class="tab-pane fade show active" id="userFind"
									role="tabpanel" aria-labelledby="home-tab">
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<form>
												<div class="row mb-3">
													<label for="inputEmail3" class="col-sm-2 col-form-label">이름</label>
													<div class="col-sm-10">
														<input type="text" class="form-control" id="inputText">
													</div>
												</div>
												<div class="row mb-3">
													<label for="inputEmail3" class="col-sm-2 col-form-label">전화번호</label>
													<div class="col-sm-10">
														<input type="text" oninput="autoHyphen(this)"
															maxlength="13" class="form-control" id="inputEmail">
													</div>
												</div>
												<div>
													<button type="submit" class="btn btn-primary">Submit</button>
												</div>
											</form>
										</div>
										<div class="col-md-2"></div>
									</div>

								</div>
								<div class="tab-pane fade" id="coFind" role="tabpanel"
									aria-labelledby="profile-tab"></div>
							</div>
							<!-- End Bordered Tabs Justified -->

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- End #main -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>

	<script>
	const autoHyphen = (target) => {
		 target.value = target.value
		   .replace(/[^0-9]/g, '')
		  .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
		}
	</script>
</body>
</html>