<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<meta charset="UTF-8">
<title>모아모아/셀프구직상세</title>
<!-- selfJobDetail.CSS -->
<link href="self/selfJobDetail.css" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
	
		<!-- 선아 2023-05-24 추가 코드 시작 -->
		<!-- 현재로그인된 유저정보 -->
		<input id="logId" name="id" type="hidden" th:value="${#authentication.principal.username}">
		
		<!-- 현재로그인된 유저가 가진 권한 -->
		<div sec:authorize="hasRole('ROLE_MEM')" style="display:none;">
			<input id="ROLE_MEM" value="ROLE_MEM"> 
		</div>
		<div sec:authorize="hasRole('ROLE_CO')" style="display:none;">
			<input id="ROLE_CO" value="ROLE_CO"> 
		</div>
		<!-- 선아 2023-05-24 추가 코드 끝 -->
	
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-1"></div>

			<div id="selfDetail" class="col-md-7" style="border-bottom : 1px solid #ddd;"> 
				<h3 class="text-center" th:text="${selfJobInfo.ttl}">셀프구직 제목</h3>
				<hr>
				<div class="mt-5 text-center">
					<img th:src="@{/moamoreImg/} + ${selfJobInfo.myimg}" th:onerror="this.src='self/profile.JPG'" id="myImg" class="circleImg mb-4">
					<p class="mb-1" th:text="${selfJobInfo.name}">이름</p>
					<p class="mb-1" th:text="${selfJobInfo.email}">이메일</p>
					<p class="mb-1" th:text="${selfJobInfo.dutyFld}">직무</p>
					<p class="mb-1" th:text="${selfJobInfo.skill}">기술스택</p>
				</div>

				<div class="text-left mt-8 mb-8">
					<span class="fs-2 subTitle">&nbsp&nbsp&nbsp저의 포트폴리오입니다&nbsp&nbsp&nbsp</span>
					<div style="display:flex">
						<p class="mt-4 mb-3" style="margin-left : 16px;" th:text="|◈ ${selfJobInfo.name}님의 포트폴리오 (|">◈ OOO님의 포트폴리오</p>
						<span class="mt-4 mb-3"><span style="color:red; font-weight:bold;">*</span>파일명클릭시 다운로드가능)</span>
					</div>
					<div class="row" id = "pofolList">
					<!-- 반복 -->
						<div th:each="pofol : ${pofolList}" class="col-md-4 text-center text-md-start h-auto" >
		    				<div class="d-flex justify-content-between flex-column h-100">
                				<div class="image">
									<img style="width:200px; height:200px;" class="rounded-2 mb-4" th:src="@{/moamorePofol/} + ${pofol.pofolImg}" alt="이미지 오류" />
									<p class="fw-bold mb-0 text-black" th:text="|ㆍ제목 : ${pofol.title}|">ㆍ제목 : </p>
						 			<a class="mb-0" th:href="@{/moamorePofol/} + ${pofol.pofolUuidFile}" target="_blank" style="color:blue;"  th:text="|ㆍ파일명: ${pofol.pofolFile}|">ㆍ파일명: </a>	
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="text-left mt-1 mb-4">
					<span class="fs-2 subTitle">&nbsp&nbsp&nbsp저는 이런사람이에요&nbsp&nbsp&nbsp</span>
					<p class="mt-4 mb-0" style="margin-left : 16px;" th:text="|◈ ${selfJobInfo.name}님의 희망 사항|">◈ OOO님의 희망 사항</p>
					<div class="mt-4" style="margin-left : 16px;">
						<ul>
							<li class="mb-2" th:text="|희망 급여 : ${selfJobInfo.hopeSal}|">희망 급여 : </li>
							<li class="mb-2" th:text="|희망 근무 지역 : ${selfJobInfo.hopeWksite}|">희망 근무 지역 : </li>
							<li th:text="|상주가능여부 : ${selfJobInfo.residency}|">상주가능여부 : </li>
						</ul>
					</div>
					<p class="mt-4 mb-0" style="margin-left : 16px;" th:text="|◈ ${selfJobInfo.name}님의 자기소개|">◈ OOO님의 자기소개</p>
				  	<div class="row">
				  		<div class="col-md-9">
				  			<textarea id="intro" class="form-control radius" readonly style="background-color : white; height: 100px; resize: none; border:none;" th:text="${selfJobInfo.intro}">자기소개</textarea>
				  		</div>
				  		<div class="col-md-3"></div>
				  	</div>
				</div>
				
				<div class="text-left mb-8">
					<span class="fs-2 subTitle">&nbsp&nbsp&nbsp이런 기술스택을 가지고있어요&nbsp&nbsp&nbsp</span>
					<div class="row">
						<p class="mt-4 mb-2" style="margin-left : 16px;" th:text="|◈ ${selfJobInfo.name}님의 보유기술|">◈ OOO님의 보유기술</p>
						
						<!-- 반복 -->
						<div th:each="skillItem : ${skillList}" class="col-md-4 mt-4" style="margin-left : 16px;">
							<span th:text="${skillItem.skill}" class="skillBorder">보유기술1</span>
						</div>
						
						<div class="col-md-4"></div>
					</div>
				</div>
				
				<div class="text-left mt-1 mb-9">
					<span class="fs-2 subTitle">&nbsp&nbsp&nbsp제 실무경험과 학력입니다&nbsp&nbsp&nbsp</span>
						<p class="mt-4 mb-3" style="margin-left : 16px;">◈ 경력</p>
							<div class="row">
								<div id="carrRows" class="col-md-10" style="margin-left : 40px;">
									<th:block th:if="${#lists.size(carrList)} == 0">
										<div style="text-align:center;">경력사항이 없는 신입입니다.</div>
									</th:block>
									<th:block th:unless="${#lists.size(carrList)} == 0">
										<!-- 반복 -->
										<div th:each="carr : ${carrList}" class="listRow row">
										 	<div class="col-md-10 text-center text-lg-start">
									        	<div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-3">
									          		<p class="fw-bold mb-0 text-black" th:text="${carr.duty}">직무</p>
									         		<p class="mb-0"th:text="|${carr.joinYy} ~ ${carr.retiYy} ${carr.carrSt}">입사일자 ~ 퇴사일자 재직여부</p>
									        	</div>
									        	<h6 class="fs-md-2 my-3" th:text="|${carr.co} ${carr.depart} 근무|">회사명 부서명</h6>
										        <div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-2">
										            <p class="mb-0" th:text="${carr.buss}">업무</p>
										        </div>
										  	</div>
										</div>
									</th:block>
								</div>
							</div>

						<p class="mt-5 mb-3" style="margin-left : 16px;">◈ 학력</p>
						<div class="row mb-3">
							<div class="col-md-2" style="text-align:center;">
							</div>
							<div id="schoolRows" class="col-md-10" style="margin-left : 40px;">
							
							<!-- 반복 - switch case -->
							<th:block th:each="school : ${schoolList}" >
								<th:block th:switch="${school.fg}">
									<div th:case="고졸" class="listRow row">
									 	<div class="col-md-10 text-center text-lg-start">
									 		<span style="color:black;"><b>■ 고등학교</b></span> <hr>
									 		<p class="mb-0" th:text="|${school.joinYy} ~ ${school.retiYy}">입학년도 ~ 졸업년도</p>
							                <h6 class="fs-md-2 my-3" th:text="${school.breu}">학교명</h6>
							                <div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-3">
							                  <p class="mb-0" th:text="${school.shcrSt}">졸업상태</p>
							                </div>
						              	</div>
									</div>
								
									<div th:case="대졸" class="listRow row">
									 	<div class="col-md-10 text-center text-lg-start">
									 		<span style="color:black;"><b>■ 대학교</b></span> <hr>
									 		<p class="mb-0" th:text="|${school.joinYy} ~ ${school.retiYy}">입학년도 ~ 졸업년도</p>
							                <h6 class="fs-md-2 my-3" th:text="${school.breu}">학교명</h6>
							                <div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-3">
							                  <p class="fw-bold mb-0 text-black" th:text="${school.mj}">전공</p>
							                  <p class="mb-0" th:text="${school.shcrSt}">졸업상태</p>
							                </div>
						              	</div>
									</div>
									
									<div th:case="대학원" class="listRow row">
									 	<div class="col-md-10 text-center text-lg-start">
									 		<span style="color:black;"><b>■ 대학원</b></span> <hr>
									 		<p class="mb-0" th:text="|${school.joinYy} ~ ${school.retiYy}">입학년도 ~ 졸업년도</p>
							                <h6 class="fs-md-3 my-3" th:text="${school.breu}">학교명</h6>
							                <div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-3">
							                  <p class="fw-bold mb-0 text-black" th:text="${school.mj}">전공</p>
							                  <p class="mb-0" th:text="${school.shcrSt}">졸업상태</p>
							                </div>
						              	</div>
									</div>
								</th:block>
							</th:block>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 m-5">
				<div class="card" style="position: sticky; top:150px;">
					<div class="card-body py-4">
						<div class="row text-center" id="topMenu">
							<h5 th:text="|${selfJobInfo.name}님의 셀프구직|">OOO님의 셀프구직</h5>
							<hr>

							<button id="offer" class="btn btn-dark radius mb-3" type="button">채용지원제안</button>

							<div class="col">
								<span class="fw-bold fs-2" th:text="${selfJobInfo.interest}">관심수</span> <br /> 
								<span class="selected fw-bold">받은관심</span>
							</div> 
							<div class="col border-start">
								<span class="fw-bold fs-2" th:text="${selfJobInfo.prop}">제안수</span> 
								<br />
								<span class="fw-bold">받은제안</span>
							</div> 
						</div>
					</div>
					
					<!-- 로그인된 사용자가 자기가 작성한 게시물이라면 나타나는 버튼 -->
					<th:block th:if="${selfJobInfo.id}==${#authentication.principal.username}" >
						<div class="card-footer text-center" style="background-color:white;">
							<button type="button" class="btn btn-outline-secondary radius mx-1 px-4" th:onclick="|location.href='@{/selfJobMod(jobSearchNo=${selfJobInfo.jobSearchNo},resumeNo=${selfJobInfo.resumeNo})}'|">수정</button>
							<button type="button" class="btn btn-outline-danger radius mx-1 px-4" id="selfJobDelBtn" th:data-no="${selfJobInfo.jobSearchNo}">삭제</button>
						</div>
					</th:block>
					
					<!-- 로그인된 사용자가 관리자라면 나타나는 버튼 -->
					<th:block sec:authorize="hasRole('ROLE_ADMIN')">
						<div class="card-footer text-center" style="background-color:white;">
							<button type="button" class="btn btn-outline-secondary radius mx-1 px-4" th:onclick="|location.href='@{/selfJobMod(jobSearchNo=${selfJobInfo.jobSearchNo},resumeNo=${selfJobInfo.resumeNo})}'|">수정</button>
							<button type="button" class="btn btn-outline-danger radius mx-1 px-4" id="selfJobDelBtn" th:data-no="${selfJobInfo.jobSearchNo}">삭제</button>
						</div>
					</th:block>
					
				</div>
			</div>
			<hr>
			<div class="col-md-1"></div>
		</div>
		
		<!-- html모달창 제안모달 -->
		<div class="modal fade " id="offerModal" tabindex="-1"
			aria-labelledby="exampleModalLgLabel" style="display: none;"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-4" id="exampleModalLgLabel">구직 제안</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div id="offerModalBody" class="modal-body d-flex justify-content-center">
					<!-- 채용지원제안 클릭 했을 때 ajax로 기술스택과 구인공고 목록을 불러와서 모달에 넣고 그려줌 -->
					</div>
				</div>
			</div>
		</div>
		<!-- 모달 끝 -->
<script>

// 삭제버튼 클릭시 실행하는 함수
$('#selfJobDelBtn').on('click', function(){
	Swal.fire({
	  icon: 'warning',
	  title: '해당 게시글을 \n정말 삭제하시겠습니까?',
	  showCancelButton: true,
	  confirmButtonColor: '#d33',
	  cancelButtonColor: '#3085d6',
	  confirmButtonText: '삭제',
	  cancelButtonText: '취소',
	  buttonsStyling: true,
	  reverseButtons: true
	}).then((result) => {
		
	  if (result.isConfirmed) {
		  let jobSearchNo = $('#selfJobDelBtn').data('no');
		  $.ajax({
			url: 'selfJobDelete',
			type: 'post',
			data: {jobSearchNo : jobSearchNo},
			success: function (result) {
				
				Swal.fire({
				  icon: 'success',
				  title: '삭제완료!',
				  showCancelButton: false,
				  confirmButtonText: '확인'
				}).then((result) => {
				  if (result.isConfirmed) {
					location.href="/selfJobList";
				  }
				});
				
			},
	 		error: function (reject) {	   
	    		console.log(reject);
			}
		});
	  } // if끝	  
	});

});
	

$('#offer').on('click', function(){
	
	if($('#ROLE_MEM').val()){ // 유저일때
		//console.log('유저입니다 - ROLE_MEM 일때 수정해야할 부분 -');
		Swal.fire({
			  icon: 'error',
			  title: '기업만 채용지원제안이 \n가능합니다.'
		});
		
		return;
		
	}else if($('#ROLE_ADMIN').val()){ // 관리자일때
		//console.log('관리자입니다.');

		Swal.fire({
			  icon: 'error',
			  title: '기업만 채용지원제안이 \n가능합니다.'
		});
		
		return;
		
	} else{ // 기업일때
		
		openOfferModal();
	
	}
})

	// 채용지원제안클릭 시 제안 모달창 열기
	function openOfferModal(){
		// 모달 안 필요한 구인공고목록, 기술스택 가져오기
		$.ajax({
			url: '/openOfferModal',
			type: 'get',
			success: function (res) {
				// 가져온 내용을 추가하고 모달바디에 붙이기
				document.querySelector('#offerModalBody').innerHTML = ''; // 모달바디 초기화
				let modalBodyHtml = `<form class="col-lg-11 " id="offerForm" action="/offerSubmit" method="POST">
					<div class="mb-1 row ">
					<label for="inputPassword" class="col-sm-2 col-form-label  fs">
						회사명</label>
					<div class="col-sm-4 center-input">
						<input type="text" name="coNm" class="form-control form-control-sm " id="">
					</div>
					
					<label for="inputPassword" class="col-sm-2 col-form-label  fs">
						복지</label>
					<div class="col-sm-4 center-input">
						<input type="text" name="bnft" class="form-control form-control-sm" id="">
					</div>
				</div>
			</div>

			<div class="mb-1 row ">
				<label for="inputPassword" class="col-sm-2 col-form-label  fs">
					근무지 주소</label>
				<div class="col-sm-4 center-input">
					<input type="text" name="wksite" class="form-control form-control-sm " id="">
				</div>
				
				<label for="inputPassword" class="col-sm-2 col-form-label  fs">
					급여</label>
				<div class="col-sm-4 center-input">
					<input type="text" name="saly" class="form-control form-control-sm" id="">
				</div>
			</div>

			<div class="mb-1 row ">
				<label for="inputPassword" class="col-sm-2 col-form-label  fs">
					프로젝트 명</label>
				<div class="col-sm-4 center-input">
					<input type="text" name="projectNm" class="form-control form-control-sm" id="">
				</div>
				
				<label for="inputPassword" class="col-sm-2 col-form-label  fs">
					업무 시작일</label>
				<div class="col-sm-4 center-input">
					<input type="date" name="bussStartDt" class="form-control form-control-sm"
						id="">
				</div>
			</div>

			<div class="mb-1 row ">
				<label for="inputPassword" class="col-sm-2 col-form-label  fs">
					기술 스택</label>
				<div class="col-sm-4 center-input">
					<select name="tech" class="form-select form-select-sm" style="padding-right:0;">
						<option value="selectedOpt" id="selectedOpt" style="display:none;"></option>
						<option value="" selected>기술선택(다중선택가능)</option>`
						let tech = res.commList.Z
						for(let i=0;i<tech.length;i++){
	   modalBodyHtml += `<option value="`+tech[i].prov+`">`+tech[i].desct+`</option>`	
						}
	   modalBodyHtml += `</select>
				</div>
				
				<label for="inputPassword" class="col-sm-2 col-form-label  fs">
					제안 마감일</label>
				<div class="col-sm-4 center-input">
					<input type="date" name="clsDt" class="form-control form-control-sm" id="">
				</div>
			</div>

			<div class="mb-1 row ">
				<label for="inputPassword" class="col-sm-2 col-form-label  fs">
					주요 업무</label>
				<div class="col-sm-4 center-input">
					<input type="text" name="maBuss" class="form-control form-control-sm" id="">
				</div>
				
				<label for="inputPassword" class="col-sm-2 col-form-label  fs">
					구인공고</label>
				<div class="col-sm-4 center-input">
					<select name="ttl" class="form-select form-select-sm" id="">
						<option value='' selected>선택</option>`
						let rec = res.recList
						for(let i=0;i<rec.length;i++){
	   modalBodyHtml += `<option value="`+rec[i].recruitNo+`">`+rec[i].ttl+`</option>`	
						}
	   modalBodyHtml += `</select>
				</div>
			</div>

				<!-- 함께보낼데이타 -->
				<input type="hidden" name="jobSearchNo">
				<div class="row mb-4">
					<div class="col-12 d-flex justify-content-center">
						<button id="modalCloseBtn" type="button" class="btn btn-secondary"
							data-bs-dismiss="modal" onclick="closeModal()">취소</button>
						<button id="offerBtn" type="button" class="btn btn-primary"
							onclick="submitOffer()">제안</button>
					</div>
				</div>
			</form>`;
			
			document.querySelector('#offerModalBody').innerHTML += modalBodyHtml;
	 		$('#offerModal').modal('show'); // 모달 창 열기
			},
	 		error: function (reject) {	   
	    		console.log(reject);
			}
		});
	}

</script>
	</div>
</body>
</html>