<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template/layout}">
<head>
<meta charset="UTF-8">
<title>모아모아/내프로필관리</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row" style="margin-top : 30px;">
			<div class="col-md-1"></div>
			<div class="col-md-2 border-end" style="margin : 10px;">
				<p class="fs-1" style="text-align : center;">내 프로필 관리</p>
				<hr>
				<div>
					<ul>
						<li>전문가소개</li>
						<li>경력사항</li>
						<li>학력</li>
						<li>자격증</li>
						<li>희망급여</li>
						<li>상주가능정보</li>
					</ul>
				</div>	
			</div>
			<div class="col-md-7">
				<p class="fs-2"><b>셀프소개</b></p>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</body>
</html>