<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<meta charset="UTF-8">
<title>커뮤니티/면접후기</title>

<!-- jobInterviewList.CSS -->
<link href="community/jobInterviewList.css" rel="stylesheet">

</head>
<body>
	<div layout:fragment="content">
	
	<!-- nav -->
	<div class="row mb-4 p-2">
		<div class="col-md-1"></div>
		<div class="col-md-10" style="border-bottom : 1px solid #ddd;">
			<div class="mb-4 d-flex justify-content-evenly">
				 <nav>
				    <ul class="nav-list">
				      <li class="mx-6"><a href="/jobQnA">취업Q&A</a></li>
				      <li class="mx-6"><a href="/jobInterview" style="color:red">면접후기</a></li>
				      <li class="mx-6"><a href="/projectList">프로젝트모집</a></li>
				      <li class="mx-6"><a href="/studyList">스터디모집</a></li>
				      <li class="mx-6" sec:authorize="hasRole('ROLE_MEM')">
					      <button type="button" class="btn btn-outline-danger radius nav-button" onclick="location.href='/jobQnAWrite'">게시글작성</button>
				      </li>
				    </ul>
				  </nav>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	
	<!-- nav2 -->
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="me-9 mb-3">
				<div style="display:flex; justify-content: flex-end;">
					<select id="job" class="selectStyle">
						<option value="" selected>직무선택</option>
						<option>직무</option>
				  	</select>
					<select id="carr" class="selectStyle">
						<option value="" selected>경력선택</option>
						<option>경력</option>
				  	</select>
				  	
					<div style="display:flex;">
						<input type="text" class="search" placeholder="회사명을 입력하세요">
						<button type="button" class="btn btn-dark btn-sm searchBtn radius">
							<i class="fas fa-search fa-lg"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	
	<!-- 본문 -->
	<div class="row mb-5">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<!-- 반복 --> 
			<div th:each="jobInterview : ${jobInterviewList}" id="change_id01" class="accordion accordion-flush">
				<div class="accordion-item"></div>
				<h2 id="srgdgfdgdgg45" class="accordion-header border-bottom">
					<button class="accordion-button text-black collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="|#${jobInterview.intrvNo}|" aria-expanded="false" aria-controls="srgdgfdgdgg45">
						<div style="display:flex; flex-direction: column;">
							<div style="display:flex; align-items: center;">
								<h3 class="pe-3" th:text="${jobInterview.coNm}">회사명</h3>
								
								<th:block th:switch="${jobInterview.passYn}">
									<span th:case="합격" th:text="${jobInterview.passYn}" class="badge bg-secondary radius">합격</span>
									<span th:case="대기중" th:text="${jobInterview.passYn}" class="badge bg-dark radius">대기중</span>
									<span th:case="불합격" th:text="${jobInterview.passYn}" class="badge bg-danger radius">불합격</span>
								</th:block>
								
							</div>
							<br>
							<div>
								<span class="fw-bold" th:text="|${jobInterview.duty}|">지원직무</span> |
								<span th:text="|[${jobInterview.carr}]|">[신입/경력]</span> |
								<span th:text="|면접일자 : ${jobInterview.intrvDt}|" class="ms-1">2023/05/13</span>
							</div>
						</div>
					</button>
				</h2>
			  	<div th:id="${jobInterview.intrvNo}" style="background-color:#f9f9f9; border:1px solid #ddd;" class="accordion-collapse collapse" aria-labelledby="srgdgfdgdgg45" data-bs-parent="#change_id01" >
				    <div class="accordion-body mx-2 p-4">
				    	<div class="fs-1 mb-3">
				    		<span>[전반적인평가] </span><span class="fw-bold" th:text="${jobInterview.appr}">보통</span><span> / </span>
				    		<span>[난이도] </span><span class="fw-bold"  th:text="${jobInterview.dif}">어려움</span><span> / </span>
				    		<span>[결과] </span>
				    		<th:block th:switch="${jobInterview.passYn}">			
				    				<span th:case="합격" th:text="${jobInterview.passYn}" class="fw-bold" style="color:blue;" >합격</span>
									<span th:case="대기중" th:text="${jobInterview.passYn}" class="fw-bold" style="color:black;">대기중</span>
									<span th:case="불합격" th:text="${jobInterview.passYn}" class="fw-bold" style="color:red;">불합격</span>
								</th:block>
				     	</div>		
				     	
				     	<div class="row mb-2">
						    <div class="col-md-2">[면접유형]</div>
						    <div class="col-md-9" th:text="${jobInterview.intrvTyp}">인적성검사</div>
						 </div>
						<div class="row mb-2">
						    <div class="col-md-2">[면접인원]</div>
						    <div class="col-md-9" th:text="${jobInterview.intrvRcnt}">지원자 1명, 면접관 다수</div>
						</div>
						<div class="row mb-2">
						    <div class="col-md-2">[면접질문]</div>
						    <div class="col-md-9">
						    	<textarea class="ps-0" style="background-color:#f9f9f9; width:100%; resize: none; border:none;"  readonly th:text="${jobInterview.qstCntn}"></textarea>
						    </div>
						</div>
						<div class="row mb-2">
						    <div class="col-md-2">[Tip 및 특이사항]</div>
						    <div class="col-md-9" th:text="${jobInterview.spcCtnt}">없음</div>
						 </div>
						 <div class="row mb-2">
						    <div class="col-md-2">[등록일자]</div>
						    <div class="col-md-9" th:text="${jobInterview.regDt}">2023/05/15</div>
						 </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
<script>

</script>
	</div>
</body>
</html>