<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<meta charset="UTF-8">
<title>모아모아/커뮤니티</title>

<!-- jobQnAWriteForm.CSS -->
<link href="community/jobQnAWriteForm.css" rel="stylesheet">

<!-- Ckeditor -->
<script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/decoupled-document/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/decoupled-document/translations/ko.js"></script>

</head>
<body>
	<div layout:fragment="content">
		<div class="row mb-5">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<nav style="background-color: white; border-bottom : 1px solid #ddd;">
					<ul class="listStyle d-flex justify-content-evenly">
						<li><a href="/jobQnA">취업Q&A</a></li>
						<li><a href="#">면접후기</a></li>
						<li><a href="#">프로젝트모집</a></li>
						<li><a href="#">스터디모집</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-md-2"></div>
		</div>
		
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			
				<div class="space-y-2 mb-5">
					<h4 class="text-xl font-medium sm:text-3xl sm:leading-10">취업 궁금증 해결하기</h4>
					<p class="text-sm text-gray-500 dark:text-gray-400">
					<strong style="color:blue" th:text="${jobQnaDetail.id}">OO</strong>님 개발자 구인구직 플랫폼 MoaMore에서 최고의 개발자들과 함께 궁금증을 해결하세요.</p>
				</div>
				
				<!-- 현재 로그인된 유저 ID -->
				<input id="logId" th:value="${logId}" type="hidden"> 
				<input id="qaNotiwrNo" th:value="${jobQnaDetail.qaNotiwrNo}" type="hidden">
				
				<!-- form 시작 -->
				<form id="writeForm" method="post" action="jobQnaAdd" enctype="multipart/form-data" onsubmit="return false">
					<div class="mb-5">
						<label class="form-label fs-1">◈ 제목</label>
						<input id="title" th:value="${jobQnaDetail.ttl}" name="ttl" type="text" class="form-control" placeholder="제목을 입력하여 주세요">
					</div>
					
					<div class="mb-3">
						<label for="formGroupExampleInput" class="form-label fs-1 mb-3">◈ 내용</label>
						<!-- <textarea id="editor" name="cntn"></textarea> -->
						
						<!-- editor -->
						<div style="border : 1px solid #ddd;">
							<!-- The toolbar will be rendered in this container. -->
						    <div id="toolbar-container"></div>
						    <!-- This container will become the editable. -->
						    <div id="editor" th:utext="${jobQnaDetail.htmlCntn}">
						     	<p></p>
						    </div>
					    </div>
						
					</div>
	                <div class="text-end">
	                	<button id="cancleBtn" onclick="history.back()" type="button" class="btn btn-light radius mx-2">취소</button>
	                	<button id="modBtn" type="button" class="btn btn-dark radius">수정</button>
	                </div>
                </form>
             	<!-- form 끝 -->
			</div>
			
			<div class="col-md-2"></div>
		 </div>
		 
<script>
	
    /* ClassicEditor
        .create( document.querySelector('#editor'),{
            language: "ko", // 한글버전으로 사용하기 위해 필요한 코드 위에 script 추가해야함
            ckfinder: { 
            	uploadUrl: 'jobQnAImg' // 내가 지정한 업로드 url (post로 요청감)
        	}// ckupload 사용해야함 
        })
  		.then( eidtor => {
  			newEditor = eidtor; // 에디터에 들어있는 정보를 담음
    	})
        .catch( error => {
            console.error( error );
        }); */
      
	let newEditor;
        
    // Editor에 width주고 싶어서 css폴더에 따로 코드넣음
    DecoupledEditor
      .create(document.querySelector('#editor') ,{
      	language: "ko", // 한글버전으로 사용하기 위해 필요한 코드 위에 script 추가해야함
          ckfinder: { 
          	uploadUrl: 'jobQnAImg' // 내가 지정한 업로드 url (post로 요청감)
      	}// ckupload 사용해야함 
      })
      .then(editor => {
          const toolbarContainer = document.querySelector('#toolbar-container');
          toolbarContainer.appendChild(editor.ui.view.toolbar.element);
          newEditor = editor;
      })
      .catch( error => {
          console.error( error );
      });   
     
	
	// 수정 버튼 클릭시 실행하는 함수
    $('#modBtn').on('click', function(){
    	
    	// 제목이 비어있으면
     	if($("#title").val() == "") { 
			alert("제목입력"); 
			return;
		 }
	   	
     	// 에디터에 들어있는 HTML태그를 포함한 내용
		const editorData = newEditor.getData(); 
     	
     	// 정규표현식을 사용하여 에디터에 들어있는 HTML 태그를 "제외한" 에디터 내용
		const editorText = newEditor.getData().replace(/(<([^>]+)>)/gi, "").replace(/&nbsp;/g, ""); 
		
	   	// 내용이 비어있으면
	   	if(editorData == "") { 
	   		alert("내용입력"); 
	   		return;
	   	}
	   	
	   	//console.log($('#title').val());
	   	//console.log(editorData);
	   	//console.log(editorText);
	   	
	   	let data = {
	   		ttl : $('#title').val(),
	   		cntn : editorText,
	   		htmlCntn : editorData,
	   		id : $('#logId').val(),
	   		qaNotiwrNo : $('#qaNotiwrNo').val()
	   	}
	  	
	   	 // 수정 ajax 호출
		 $.ajax({
			url: 'jobQnaModFn',
			type: 'post',
			data : data,
			success: function (result) {
				if(result.result == 'Success'){
					Swal.fire({
					  icon: 'success',
					  title: '취업Q&A 게시글 수정성공!',
					  showCancelButton: false,
					  confirmButtonText: '확인'
					}).then((result) => {
					  if (result.isConfirmed) {
						location.href="/jobQnaDetail?qaNotiwrNo="+data.qaNotiwrNo;
					  }
					});
				}else{
					Swal.fire({
						  icon: 'error',
						  title: '게시글 수정실패!'
					});
				}
			},
	 		error: function (reject) {	   
	    		console.log(reject);
			}
		});
	   	
    });
    
</script>
	</div>
</body>
</html>