<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<meta charset="UTF-8">
<title>모아모아/커뮤니티</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- jobQnADetail.CSS -->
<link href="community/jobQnADetail.css" rel="stylesheet">

</head>
<body>
	<div layout:fragment="content">
		<!--  <div class="row mt-2 mb-5">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<nav style="background-color: white; border-bottom : 1px solid #ddd;">
					<ul class="listStyle d-flex justify-content-evenly">
						<li><a href="/jobQnA">취업Q&A</a></li>
						<li><a href="#">면접후기</a></li>
						<li><a href="#">프로젝트모집</a></li>
						<li><a href="#">스터디모집</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-md-2"></div>
		</div>-->
	
		<div class="row">
			<div class="col-md-2 mx-6 p-4">
				<div style="position: sticky; top:150px;">
					<div>
						<div id="topMenu" class="text-center">
							<h5>커뮤니티</h5>
							<hr>
							<ul class="decoUl">
								<li><a href="/jobQnA" style="color:red">ㆍ취업Q&A</a></li>
								<li><a href="/jobInterview">ㆍ면접후기</a></li>
								<li><a href="/projectList">ㆍ프로젝트모집</a></li>
								<li><a href="/studyList">ㆍ스터디모집</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-8">
				<div class="line mt-3 mb-5">
					<span>커뮤니티 /&nbsp</span><span style="color:red">취업Q&A</span>
				</div>
				<div class="mb-4">
				  <div class="card col-lg-12">
				    <div class="card-body">
				    
				    	<!-- 버전1 -->
					    <div class="card-title mb-1" style="display:flex">
					    	<h3 class="fw-bold" th:text="${jobQnaDetail.ttl}">제목</h3>
					    	<div style="margin-left: auto;">
						    	<div class="d-flex">
						    		<div class="ms-3">
					    				<i class="fa-regular fa-eye fa-sm"></i>
					    				<span th:text="${jobQnaDetail.inqCnt}">조회수</span>
					    			</div>
						    		<div class="ms-3">
					    				<i class="fa-regular fa-comment-dots fa-sm"></i>
					    				<span th:text="${jobQnaDetail.rplyCnt}">댓글수</span>
					    			</div>
					    			<div class="ms-3">
						    			<p th:text="${jobQnaDetail.regDt}">작성일자</p>
						    		</div>
					    			<div class="ms-3 cursor">
						   				<i class="fa-solid fa-land-mine-on"></i>
						   				<span class="fs--1">신고하기</span>
						   			</div>
						   		</div>
					   		</div>
					    </div>
					    
					    <!-- 버전2 -->
					    <!-- <div class="card-title mb-1">
					    	<div class="row">
					    		<div class="col-md-8">
					    			<h3 class="fw-bold" th:text="${jobQnaDetail.ttl}">제목</h3>
					    		</div>
					    		<div class="col-md-4" style="display:flex;">
						   			<div class="mx-3">
					    				<i class="fa-regular fa-comment-dots"></i>
					    				<span th:text="${jobQnaDetail.inqCnt}">조회수</span>
					    			</div>
					    			<div class="mx-3">
						   				<i class="fa-regular fa-comment-dots"></i>
						   				<span th:text="${jobQnaDetail.rplyCnt}">댓글수</span>
						   			</div>
					    			<div class="mx-3">
						   				<i class="fa-solid fa-land-mine-on"></i>
						   				<span class="fs--1">신고하기</span>
						   			</div>
					    		</div>
					   		</div>	
					    </div> -->
					    
				    	<div class="mb-5">
				    		<img src="self/profile.JPG" class="circleImg" alt="이미지안보임" >
				    		<span class="ms-1" th:text="${jobQnaDetail.id}">작성자</span>
				    		<!-- <hr class="mt-4" style="color:#ddd"> -->
				    	</div>
				    	
				    	<div th:utext="|${jobQnaDetail.htmlCntn}|"></div>
				    </div>
				  </div>
				</div>
				
				<div class="input-group mb-4">
				  <textarea class="form-control radius" style="resize: none; height: 50px;" placeholder="댓글을 작성해주세요" ></textarea>
				  <button class="btn btn-dark radius" type="button" id="button-addon2">댓글등록</button>
				</div>

				<hr style="color:#ddd;">
				
				<div class="mb-2 p-2">
					<div class="mb-2" style="display:flex">
						<div>
							<img src="self/profile.JPG" class="circleImg" alt="이미지안보임" >
							<span>아이디</span>
						</div>
						<div style="margin-left:auto;">
							<div class="d-flex">
								<div>
					    			<p>2023/05/13</p>
					    		</div>
								<div class="ms-3">
				    				<i class="fa-regular fa-comment-dots fa-sm"></i>
				    				<span>0</span>
				    			</div>
								<div class="cursor ms-3">
					   				<i class="fa-solid fa-land-mine-on"></i>
					   				<span class="fs--1">신고하기</span>
					   			</div>
				   			</div>
						</div>
					</div>
					<p>내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
						내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
						내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
					</p>
				</div>
				
				<hr style="color:#ddd;">
				
				<div class="mb-2 p-2">
					<div class="mb-2" style="display:flex">
						<div>
							<img src="self/profile.JPG" class="circleImg" alt="이미지안보임" >
							<span>아이디</span>
						</div>
						<div style="margin-left:auto;">
							<div class="d-flex">
								<div>
					    			<p>2023/05/13</p>
					    		</div>
								<div class="ms-3">
				    				<i class="fa-regular fa-comment-dots fa-sm"></i>
				    				<span>0</span>
				    			</div>
								<div class="cursor ms-3">
					   				<i class="fa-solid fa-land-mine-on"></i>
					   				<span class="fs--1">신고하기</span>
					   			</div>
				   			</div>
						</div>
					</div>
					<p>내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
						내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
						내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
					</p>
				</div>
				
				<hr style="color:#ddd;">
				
				<div class="mt-5 mb-5" style="text-align:right;">
					<!-- 로그인된 사용자가 자기가 작성한 게시물이라면 나타나는 버튼 -->
					<th:block th:if="${jobQnaDetail.id}==${#authentication.principal.username}" >
						<button type="button" class="btn btn-outline-secondary radius mx-1 px-5"  style="height:50px;" th:onclick="|location.href='@{/jobQnaMod(qaNotiwrNo=${jobQnaDetail.qaNotiwrNo})}'|">수정</button>
						<button type="button" class="btn btn-outline-danger radius mx-1 px-5" style="height:50px; text-align:center;" id="jobQnaDelete" th:data-no="${jobQnaDetail.qaNotiwrNo}">삭제</button>
					</th:block>
					<button type="button" class="btn btn-dark radius mx-1 px-5" style="background-color: #536779; color:white; border-color: #536779; height:50px;" onclick="location.href='/jobQnA'">목록</button>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	
		
<script>

//삭제버튼 클릭시 실행하는 함수
$('#jobQnaDelete').on('click', function(){
	Swal.fire({
	  icon: 'warning',
	  title: '해당 게시글을 \n정말 삭제하시겠습니까?',
	  showCancelButton: true,
	  confirmButtonColor: '#d33',
	  cancelButtonColor: '#3085d6',
	  confirmButtonText: '삭제',
	  cancelButtonText: '취소',
	  buttonsStyling: true,
	  reverseButtons: true
	}).then((result) => {
	  if (result.isConfirmed) {
		  let qaNotiwrNo = $('#jobQnaDelete').data('no');
		  $.ajax({
			url: 'jobQnaDelete',
			type: 'post',
			data: {qaNotiwrNo : qaNotiwrNo},
			success: function (result) {
				
				if(result.result == 'Success'){
					Swal.fire({
					  icon: 'success',
					  title: '삭제완료!',
					  showCancelButton: false,
					  confirmButtonText: '확인'
					}).then((result) => {
					  if (result.isConfirmed) {
						location.href="/jobQnA";
					  }
					});
				}else{
					Swal.fire({
						  icon: 'error',
						  title: '게시글 삭제실패!'
					});
				}
				
			},
	 		error: function (reject) {	   
	    		console.log(reject);
			}
		});
	  } // if끝
	});
});

</script>
	</div>
</body>
</html>