<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<meta charset="UTF-8">
<title>모아모아/커뮤니티(뷰적용)</title>

</head>
<body>
	<div layout:fragment="content">

		<!-- jobQnADetail.CSS -->
		<link href="community/jobQnADetail.css" rel="stylesheet">

		<!-- layout:fragment 아래에 있어야 인식함 -->
		<!-- Vue 3버전 -->
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://unpkg.com/vue-router@4"></script> <!-- 뷰3 라우터4-->
		<script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>
		
		<!-- 뷰에서 컴포넌트 하기위해 필요한 js파일 -->
		<script src="community/vue_common.js"></script>
		
		<!-- axios CDN -->
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		
		<!-- 폰트어썸 -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

		<div class="row">
			<div class="col-md-2 mx-6 p-4">
				<div style="position: sticky; top:150px;">
					<div>
						<div id="topMenu" class="text-center">
							<h5>커뮤니티</h5>
							<hr>
							<ul class="decoUl">
								<li><a href="/jobQnA" style="color:red">ㆍ취업Q&A</a></li>
								<li><a href="/jobInterview">ㆍ면접후기</a></li>
								<li><a href="/projectList">ㆍ프로젝트모집</a></li>
								<li><a href="/studyList">ㆍ스터디모집</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-8">
				<div class="line mt-3 mb-5">
					<span>커뮤니티 /&nbsp</span><span style="color:red">취업Q&A</span>
				</div>
				<div class="mb-4">
				  <div class="card col-lg-12">
				    <div class="card-body">
			
				    	<!-- 버전1 -->
					    <div class="card-title mb-1" style="display:flex">
					    	<h3 id="ttl" class="fw-bold" th:text="${jobQnaDetail.ttl}">제목</h3>
					    	<div style="margin-left: auto;">
						    	<div class="d-flex">
						    		<div class="ms-3">
					    				<i class="fa-regular fa-eye fa-sm"></i>
					    				<span th:text="${jobQnaDetail.inqCnt}">조회수</span>
					    			</div>
						    		<div class="ms-3">
					    				<i class="fa-regular fa-comment-dots fa-sm"></i>
					    				<span th:text="${jobQnaDetail.rplyCnt}">댓글수</span>
					    			</div>
					    			<div class="ms-3">
						    			<p th:text="${jobQnaDetail.regDt}">작성일자</p>
						    		</div>
					    			<div class="ms-3 cursor" id="reportBtn">
						   				<i class="fa-solid fa-land-mine-on"></i>
						   				<span class="fs--1">신고하기</span>
						   			</div>
						   		</div>
					   		</div>
					    </div>
					    
				    	<div class="mb-5">
				    		<img src="self/profile.JPG" class="circleImg" alt="이미지안보임" >
				    		<span class="ms-1" th:text="${jobQnaDetail.id}">작성자</span>
				    		<!-- <hr class="mt-4" style="color:#ddd"> -->
				    	</div>
				    
				    	<div class="mb-7" th:utext="|${jobQnaDetail.htmlCntn}|"></div>
				    	
				    	<div class="mb-3 text-center">
				    		<span class="fs-1 p-3" style="border : 1px solid #ddd;">
				    			<th:block th:if="${recoYn == 'N'}">
				    				<span id="likeBtn" style="cursor : pointer;" th:data-no="${jobQnaDetail.qaNotiwrNo}"><i class="bi bi-hand-thumbs-up fa-xl"></i> 추천</span>
				    			</th:block>
				    			<th:block th:if="${recoYn == 'Y'}">
				    				<span id="likeBtn" style="cursor : pointer;" th:data-no="${jobQnaDetail.qaNotiwrNo}"><i class="bi bi-hand-thumbs-up-fill text-secondary fa-xl"></i> 추천</span>
				    			</th:block>
				    			<span id="likeCount" th:text="${jobQnaDetail.recoCnt}">0</span>
				    		</span>
				    	</div>
				    	
				    </div>
				  </div>
				</div>
				
				<!-- Vue 댓글 및 대댓글 -->
				<div id="app">
					<jobqnareply-component></jobqnareply-component>
				</div>
				
				<div class="mt-4 mb-5" style="text-align:right;">
					<!-- 로그인된 사용자가 자기가 작성한 게시물이라면 나타나는 버튼 -->
					<th:block th:if="${jobQnaDetail.id}==${#authentication.principal.username}" >
						<button type="button" class="btn btn-outline-secondary radius mx-1 px-5"  style="height:50px;" th:onclick="|location.href='@{/jobQnaMod(qaNotiwrNo=${jobQnaDetail.qaNotiwrNo})}'|">수정</button>
						<button type="button" class="btn btn-outline-danger radius mx-1 px-5" style="height:50px; text-align:center;" id="jobQnaDelete" th:data-no="${jobQnaDetail.qaNotiwrNo}">삭제</button>
					</th:block>
					<!-- 로그인된 사용자가 관리자일때 나타나는 버튼 -->
					<th:block sec:authorize="hasRole('ROLE_ADMIN')">
						<button type="button" class="btn btn-outline-secondary radius mx-1 px-5"  style="height:50px;" th:onclick="|location.href='@{/jobQnaMod(qaNotiwrNo=${jobQnaDetail.qaNotiwrNo})}'|">수정</button>
						<button type="button" class="btn btn-outline-danger radius mx-1 px-5" style="height:50px; text-align:center;" id="jobQnaDelete" th:data-no="${jobQnaDetail.qaNotiwrNo}">삭제</button>
					</th:block>
					<button type="button" class="btn btn-dark radius mx-1 px-5" style="background-color: #536779; color:white; border-color: #536779; height:50px;" onclick="location.href='/jobQnA'">목록</button>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	
		
<script>

// Vue
const { createApp } = Vue;
createApp({
	data() {
		return {};
	},
	mounted() {},
	methods: {},
	components: {
		'jobqnareply-component': Vue.defineAsyncComponent(() => loadModule('community/jobQnaReplyComponent.vue', options))
	}
}).mount('#app')

function RecoAdd(qaNotiwrNo){
	$.ajax({
		url: 'jobQnaRecoAdd',
		type: 'post',
		data: {qaNotiwrNo : qaNotiwrNo},
		success: function (result) {
			if(result.result == 'Success'){
				console.log('추천완료');
			}else{
				Swal.fire({
					  icon: 'error',
					  title: '게시글 추천실패!'
				});
			}
		},
			error: function (reject) {	  
	   		console.log(reject);
		}
	});
}

// 추천버튼 클릭시 실행하는 함수
$('#likeBtn').on('click', function(){
	
	let like = $('#likeBtn').find('.bi-hand-thumbs-up');
	
	if(like.hasClass("bi-hand-thumbs-up")){ // 추천이 안되어있는 상태라면
		
		like.removeClass("bi-hand-thumbs-up"); // 추천이 안되어있는 상태 지우고
		like.addClass("bi-hand-thumbs-up-fill"); // 추천 상태 추가
		like.addClass("text-secondary");
		$('#likeCount').text(parseInt($('#likeCount').text()) + 1);
		
		let qaNotiwrNo = $('#likeBtn').data('no');
		RecoAdd(qaNotiwrNo); // 추천 등록 함수 호출
		
	}else{

		Swal.fire({
			  icon: 'error',
			  title: '이미 추천한 게시글입니다.'
		});
	}
});


//삭제버튼 클릭시 실행하는 함수
$('#jobQnaDelete').on('click', function(){
 	Swal.fire({
 	  icon: 'warning',
 	  title: '해당 게시글을 \n정말 삭제하시겠습니까?',
 	  showCancelButton: true,
 	  confirmButtonColor: '#d33',
 	  cancelButtonColor: '#3085d6',
 	  confirmButtonText: '삭제',
 	  cancelButtonText: '취소',
 	  buttonsStyling: true,
 	  reverseButtons: true
 	}).then((result) => {
 	  if (result.isConfirmed) {
 		  
 		  let qaNotiwrNo = $('#jobQnaDelete').data('no');
 		  
 		  $.ajax({
 			url: 'jobQnaDelete',
 			type: 'post',
 			data: {qaNotiwrNo : qaNotiwrNo},
 			success: function (result) {
		
				Swal.fire({
			 	  icon: 'success',
				  title: '삭제완료!',
				  showCancelButton: false,
				  confirmButtonText: '확인'
				})
				.then((result) => {
				  if (result.isConfirmed) {
					location.href="/jobQnA";
				  }
				});
 					
 			},
 	 		error: function (reject) {	  
 	    		console.log(reject);
 			}
 		});
 	  } // if끝
 	});
 });
 
$('#reportBtn').on('click', function(){
	let no = $('#likeBtn').data('no');
	let title = $('#ttl').text();

	var url = '/reportForm?no='+no+"&title="+title;  
    var windowName = '신고하기'; 
    var windowWidth = 400; // 새 창의 너비
    var windowHeight = 300; // 새 창의 높이   
    var windowLeft = (window.innerWidth - windowWidth) / 2;
    var windowTop = (window.innerHeight - windowHeight) / 2;
    
    var windowFeatures = 'width=' + windowWidth + ',height=' + windowHeight +
        ',top=' + windowTop + ',left=' + windowLeft;
    
    window.open(url, windowName, windowFeatures);
	
});

</script>
	</div>
</body>
</html>