<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<meta charset="UTF-8">
<title>모아모아/커뮤니티</title>

<!-- jobQnA.CSS -->
<link href="community/jobQnA.css" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<!-- nav -->
		<div class="row mb-4 p-2">
			<div class="col-md-1"></div>
			<div class="col-md-10" style="border-bottom : 1px solid #ddd;">
				<div class="mb-4 d-flex justify-content-evenly">
					 <nav>
					    <ul class="nav-list">
					      <li class="mx-6"><a href="/jobQnA" style="color:red">취업Q&A</a></li>
					      <li class="mx-6"><a href="/jobInterview">면접후기</a></li>
					      <li class="mx-6"><a href="/projectList">프로젝트모집</a></li>
				      	  <li class="mx-6"><a href="/studyList">스터디모집</a></li>
					      <li class="mx-6" sec:authorize="hasRole('ROLE_MEM')">
						      <button id="jobWriteForm" type="button" onclick="location.href='/jobQnAWrite'" class="btn btn-outline-danger radius nav-button">게시글작성</button>
					      </li>
					    </ul>
					  </nav>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		
		<div class="row" style="margin-top : 30px;">
			<div class="col-md-1"></div>
			<div class="col-md-2" style="margin : 10px;">
				<div>
					<p style="text-align : center;">Top Writer</p>
					<hr>
					<ul>
						<li>1등</li>
						<li>2등</li>
						<li>3등</li>
					</ul>
				</div>	
			</div>
			<div class="col-md-7">
				<!-- 반복 -->
				<div th:each="jobQna : ${jobQnaList}" class="hoverRow listRow row cursor" th:onclick="|location.href='@{/jobQnaDetail(qaNotiwrNo=${jobQna.qaNotiwrNo})}'|">
					<div class="col-md-10">
					 	<h5 class="mt-2" th:text="${jobQna.ttl}">게시글제목</h5>
					 	<p class="fs--1 ellipsis" th:text="${jobQna.cntn}">Some text..Some text..</p>
					 	<img src="self/profile.JPG" class="circleImg" alt="이미지안보임" >
					 	<span th:text="${jobQna.id}">아이디</span>
				 	</div>
				 	<div class="col-md-2" style="display: flex; align-items: center; flex-direction : column;" >
				      <div style="border: 1px solid black; text-align: center; width: 60px; margin: auto; border-radius: 5px;  line-height: 15px; padding: 8px;">
				        <small>
				          <span>댓글수</span>
				          <br>
				          <span th:text="${jobQna.rplyCnt}">1</span>
				        </small>
				      </div>
				      <div class="fs--1">
					  	<span>조회수</span><span th:text="${jobQna.inqCnt}">1</span>
					  </div>
				    </div>
				</div>	
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</body>
</html>