<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<meta charset="UTF-8">
<title>모아모아/커뮤니티(뷰적용)</title>

</head>
<body>
	<div layout:fragment="content">
		
		<!-- projectDetail.CSS -->
		<link href="community/projectDetail.css" rel="stylesheet">
		
		<!-- layout:fragment 아래에 있어야 인식함 -->
		<!-- Vue 3버전 -->
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://unpkg.com/vue-router@4"></script> <!-- 뷰3 라우터4-->
		<script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>
		
		<!-- 뷰에서 컴포넌트 하기위해 필요한 js파일 -->
		<script src="community/vue_common.js"></script>
		
		<!-- axios CDN -->
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		
		<!-- 폰트어썸 -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


		<div class="row">
			<div class="col-md-2 mx-6 p-4">
				<div style="position: sticky; top:150px;">
					<div>
						<div id="topMenu" class="text-center">
							<h5>커뮤니티</h5>
							<hr>
							<ul class="decoUl">
								<li><a href="/jobQnA">ㆍ취업Q&A</a></li>
								<li><a href="/jobInterview">ㆍ면접후기</a></li>
								<li><a href="/projectList" style="color:red">ㆍ프로젝트모집</a></li>
								<li><a href="/studyList">ㆍ스터디모집</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-8">
				<div class="line mt-3 mb-5">
					<span>커뮤니티 /&nbsp</span><span style="color:red">프로젝트모집</span>
				</div>
				<div class="mb-4">
				  <div class="card col-lg-12">
				    <div class="card-body">
				    
				    	<!-- 버전1 -->
					    <div class="card-title mb-1" style="display:flex">
					    	<h3 class="fw-bold" th:text="|${projectInfo.ttl}&nbsp&nbsp|" id="ttl">제목</h3>
					    	<p th:if="${projectInfo.collSt == '모집중'}" class="badge bg-secondary radius" th:text="${projectInfo.collSt}">모집중</p>
          					<p th:unless="${projectInfo.collSt == '모집중'}" class="badge bg-dark radius" th:text="${projectInfo.collSt}">모집완료</p>
					    	
					    	<div style="margin-left: auto;">
						    	<div class="d-flex">
						    		<div class="ms-3">
					    				<i class="fa-regular fa-eye fa-sm"></i>
					    				<span th:text="${projectInfo.inqCnt}">0</span>
					    			</div>
						    		<div class="ms-3">
					    				<i class="fa-regular fa-comment-dots fa-sm"></i>
					    				<span th:text="${projectInfo.rplyCnt}">0</span>
					    			</div>
					    			<div class="ms-3">
						    			<p th:text="${projectInfo.regDt}">등록일자</p>
						    		</div>
					    			<div class="ms-3 cursor" id="reportBtn">
						   				<i class="fa-solid fa-land-mine-on"></i>
						   				<span class="fs--1">신고하기</span>
						   			</div>
						   		</div>
					   		</div>
					    </div>
					    
					    
				    	<div class="mb-5">
				    		<img src="self/profile.JPG" class="circleImg" alt="이미지안보임" >
				    		<span class="ms-1" th:text="${projectInfo.id}">작성자</span>
				    		<!-- <hr class="mt-4" style="color:#ddd"> -->
				    	</div>
				    	
				    	<p class="mb-4 fs-1">◈ 요구사항</p>
				    	<div class="card mb-4">
				    		<div class="card-body p-4" style="margin-left : 110px;">
						    	<div>
							    	<div class="row mb-2">
										<div class="col-md-2 text-center" style="background-color:#EBECF0;">
											<span class="fw-bold">모집직무</span>
										</div>
										<div class="col-md-4">
											<span th:text="${projectInfo.collPosi}">백엔드개발자</span>
										</div>
										<div class="col-md-2 text-center" style="background-color:#EBECF0;">
											<span class="fw-bold">모집인원</span>
										</div>
										<div class="col-md-4">
											<span th:text="${projectInfo.collRcnt}">1</span>
										</div>
									</div>
									<div class="row mb-2">
										<div class="col-md-2 text-center" style="background-color:#EBECF0;">
											<span class="fw-bold">진행방식</span>
										</div>
										<div class="col-md-4">
											<span th:text="${projectInfo.progMthd}">오프라인</span>
										</div>
										<div class="col-md-2 text-center" style="background-color:#EBECF0;">
											<span class="fw-bold ">요구기술</span>
										</div>
										<div class="col-md-4">
											<span th:text="${projectInfo.skill}">자바,스프링</span>
										</div>
									</div>
									<div class="row mb-2">
										<div class="col-md-2 text-center" style="background-color:#EBECF0;">
											<span class="fw-bold">시작예정</span>
										</div>
										<div class="col-md-4">
											<span th:text="${projectInfo.expcDt}">시작예정일날짜</span>
										</div>
										<div class="col-md-2 text-center" style="background-color:#EBECF0;">
											<span class="fw-bold ">진행기간</span>
										</div>
										<div class="col-md-4">
											<span th:text="${projectInfo.progTerm}">2개월</span>
										</div>
									</div>
									<div class="row mb-2">
										<div class="col-md-2 text-center" style="background-color:#EBECF0;">
											<span class="fw-bold">연락방법</span>
										</div>
										<div class="col-md-4">
											<span th:text="${projectInfo.coctMthd}">연락방법중하나</span>
										</div>
										<div class="col-md-2 text-center" style="background-color:#EBECF0;">
											<span class="fw-bold">연락주소</span>
										</div>
										<div class="col-md-4">
											<a style="color:blue; text-decoration : underline !important;" th:href="${projectInfo.contact}" th:text="${projectInfo.contact}">연락처</a>
										</div>
									</div>
									<div class="row mb-2">
										<div class="col-md-2 text-center" style="background-color:#EBECF0;">
											<span class="fw-bold ">마감일</span>
										</div>
										<div class="col-md-4">
											<span th:text="${projectInfo.clsDt}">마감일날짜</span>
										</div>
									</div>
								</div>	
							</div>
						</div>
				    	
				    	<div>
					    	<p class="fs-1 mb-4">◈ 프로젝트소개</p>
					    	<div class="ms-4" th:utext="${projectInfo.cntn}"></div>
					    </div>
				    </div>
				  </div>
				</div>
				
				
				<!-- Vue -->
				<div id="app">
				    <project-component></project-component>
				</div>


				<div class="mt-5 mb-5" style="text-align:right;">
					<!-- 로그인된 사용자가 자기가 작성한 게시물이라면 나타나는 버튼 -->
					<th:block th:if="${projectInfo.id}==${#authentication.principal.username}">
						<button type="button" class="btn btn-outline-secondary radius mx-1 px-5" th:onclick="|location.href='@{/projectMod(prjtNo=${projectInfo.prjtNo})}'|">수정</button>
						<button id="projectDelBtn" th:data-no="${projectInfo.prjtNo}" type="button" class="btn btn-outline-danger radius mx-1 px-5">삭제</button>
					</th:block>
					<!-- 로그인된 사용자가 관리자일때 나타나는 버튼 -->
					<th:block sec:authorize="hasRole('ROLE_ADMIN')">
						<button type="button" class="btn btn-outline-secondary radius mx-1 px-5" th:onclick="|location.href='@{/projectMod(prjtNo=${projectInfo.prjtNo})}'|">수정</button>
						<button id="projectDelBtn" th:data-no="${projectInfo.prjtNo}" type="button" class="btn btn-outline-danger radius mx-1 px-5">삭제</button>
					</th:block>
					<button type="button" class="btn btn-dark radius mx-1 px-5" style="background-color: #536779; color:white; border-color: #536779;" onclick="location.href='/projectList'">목록</button>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	
		
<script>

// Vue
const { createApp } = Vue;
createApp({
	data() {
		return {}
	},
	mounted() {},
	methods: {},
	components: {
		'project-component': Vue.defineAsyncComponent(() => loadModule('community/projectDetailComponent.vue', options))
	}
}).mount('#app')

//삭제버튼 클릭시 실행하는 함수
$('#projectDelBtn').on('click', function(){
	Swal.fire({
	  icon: 'warning',
	  title: '해당 게시글을 \n정말 삭제하시겠습니까?',
	  showCancelButton: true,
	  confirmButtonColor: '#d33',
	  cancelButtonColor: '#3085d6',
	  confirmButtonText: '삭제',
	  cancelButtonText: '취소',
	  buttonsStyling: true,
	  reverseButtons: true
	}).then((result) => {
	  if (result.isConfirmed) {
		  
		  let prjtNo = $('#projectDelBtn').data('no');
		  
		  $.ajax({
			url: 'projectDel',
			type: 'post',
			data: {prjtNo : prjtNo},
			success: function (result) {
				
				Swal.fire({
				  icon: 'success',
				  title: '삭제완료!',
				  showCancelButton: false,
				  confirmButtonText: '확인'
				}).then((result) => {
				  if (result.isConfirmed) {
					location.href="/projectList";
				  }
				});
				
			},
	 		error: function (reject) {	   
	    		console.log(reject);
			}
		});
	  } // if끝
	});
});

$('#reportBtn').on('click', function(){
	let no = $('#projectDelBtn').data('no');
	let title = $('#ttl').text();

	var url = '/reportForm?no='+no+"&title="+title;  
    var windowName = '신고하기'; 
    var windowWidth = 400; // 새 창의 너비
    var windowHeight = 300; // 새 창의 높이   
    var windowLeft = (window.innerWidth - windowWidth) / 2;
    var windowTop = (window.innerHeight - windowHeight) / 2;
    
    var windowFeatures = 'width=' + windowWidth + ',height=' + windowHeight +
        ',top=' + windowTop + ',left=' + windowLeft;
    
    window.open(url, windowName, windowFeatures);
	
});

</script>
	</div>
</body>
</html>