.line {
	display:flex;
	flex-basis:100%;
	align-items:center;
	color:black;
	font-size:14px;
	margin:8px 0px;
}
.line::before{
	content:"";
	flex-grow:1;
	margin:0px 16px;
	background:rgba(0,0,0,0.35);
	height:1px;
	font-size:0px;
	line-height: 0px;
}
.line::after {
	content:"";
	flex-grow:10;
	margin:0px 16px;
	background:rgba(0,0,0,0.35);
	height:1px;
	font-size:0px;
	line-height: 0px;
}

.listStyle{
   list-style:none;
   padding-left:0px;
}

.listStype li{
	line-height: 32.13px;
}
.listStyle li a:hover{
	color: red;
	letter-spacing: -0.88px;
}
.circleImg {
  border-radius: 50%;
  width : 30px;
  height : 30px;
}

.cursor {
	cursor:pointer;
}

.radius{
	border-radius : 0px;
}

.decoUl{
	list-style: none; /* 불릿 스타일 제거 */
	padding-left : 0px;
	display: flex; 
	flex-direction: column; 
	align-items: flex-start;
	
}

.decoUl li{
	margin:10px;
}


