.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-list li {
  margin-right: 10px;
}

.nav-button {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.radius{
	border-radius : 0px;
}

.circleImg {
  border-radius: 50%;
  width : 25px;
  height : 25px;
}

.listStyle{
   list-style:none;
   padding-left:0px;
}

.skillBorder{
	width: 100px;
	padding : 10px; 
	border : 1px solid grey; 
	border-radius : 500rem;
}

.cursor{
	cursor:pointer;
}