<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.moa.admin.mapper.AdminMapper">
	<select id="selectUserInfo" resultType="MemVO">
		SELECT 	id,
        		name,
        		clsf,
        		ph_cl,
        		join_dt
       	FROM member
	</select>
</mapper>