<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.moa.admin.mapper.AdminMapper">
	<select id="selectUserInfo" resultType="MemVO">
		SELECT 	ID
				,NAME
				,PW
				,PH
				,PH_CL
				,EMAIL
				,BLOG
				,POST
				,AUTHR
				,CLSF
				,LOG_CNT
				,LTST_TM
				,get_common(gen) as gen
				,BIRTH
				,ADDR
				,JOIN_DT
				,AGE
				,API
				,NICKNAME
				,get_common(clsf) as "clsfname"
       	FROM member
       	ORDER BY join_dt DESC
	</select>
	
	<select id="selectStudyPost" resultType="StudyVO">
		select  reg_dt,
		        ttl,
		        inq_cnt,
		        '스터디모집' as "postType",
		        study_no as "no",
		        id
		FROM study s
		ORDER BY reg_dt DESC
	</select>
	<select id="selectPRJTPost" resultType="PrjtVO">
		select  reg_dt,
		        ttl,
		        inq_cnt,
		        '프로젝트모집게시판' as "postType",
		        prjt_no as "no",
		        id
		FROM prjt p
		ORDER BY reg_dt DESC
	</select>
 	<select id="selectINTRVPost" resultType="IntrvVO">
		select  reg_dt,
				CO_NM,
				'면접후기게시판' as "postType",
				intrv_no as "no",
				id
		FROM intrv_scrn i
		ORDER BY reg_dt DESC
	</select> 
	
	<select id="selectQSTPost" resultType="CommunityVO">
		select  reg_dt,
		        ttl,
		        inq_cnt,
		        qa_notiwr_no as "no",
		        <![CDATA['취업Q&A게시판']]> as "postType",
		        id
		FROM empl_qst e, rprt_list r
		WHERE r.NOTIWR_NO = e.qa_notiwr_no
		ORDER BY reg_dt DESC
	</select>
	<select id="selectSearchUser" resultType="MemVO">
		SELECT 	ID
				,NAME
				,PW
				,PH
				,PH_CL
				,EMAIL
				,BLOG
				,POST
				,AUTHR
				,CLSF
				,LOG_CNT
				,LTST_TM
				,GEN
				,BIRTH
				,ADDR
				,JOIN_DT
				,AGE
				,API
				,NICKNAME
				,get_common(clsf) as "clsfname"
		FROM 	member
		<where>
			<if test="id!=null and !id.equals('')">
				id = #{id}
			</if>
			<if test="name!=null and !id.equals('')">
				name = #{name}
			</if>
			<if test="startDate!=null and !startDate.equals('')">
				<![CDATA[join_dt >= #{startDate}]]>
			</if>
			<if test="lastDate!=null and !lastDate.equals('')">
				<![CDATA[join_dt <= #{lastDate}]]>
			</if>
			<if test="server!=null and !server.equals('')">
				email LIKE '%'||'@'||#{server}||'%'
			</if>
			<if test="userName!=null and !userName.equals('')">
				email LIKE '%'||#{userName}||'%'
			</if>
			<if test="commds!=null">
			 clsf IN
			 <foreach collection='commds' item='clsf' open='(' close=')' separator=','>
			 	#{clsf}
			 </foreach>	
			</if>
		</where> 	
		ORDER BY join_dt DESC 
	</select>
		<update id="updateUser" parameterType="MemVO">
		UPDATE member
		   <set>
		   	<if test="phCl!=null and !phCl.equals('')">
				PH_CL = #{phCl},
			</if>
			<if test="email!=null and !email.equals('')">
				EMAIL = #{email},
			</if>
			<if test="blog!=null and !blog.equals('')">
				BLOG = #{blog},
			</if>
			<if test="clsf!=null and !clsf.equals('')">
				CLSF = #{clsf},
			</if>
			<if test="ph!=null and !ph.equals('')">
				PH = #{ph},
			</if>
			<if test="name!=null and !name.equals('')">
				name = #{name}
			</if>
		   </set> 
		WHERE id = #{id}
	</update>

	<delete id="deleteUser" parameterType="String">
		DELETE FROM member
		WHERE email=#{email}
	</delete>

</mapper>
