<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.moa.community.mapper.CommunityMapper">

	<!-- 취업Q&A 게시글 기본키부여 -->
	<select id="jobQnaKey" resultType="String">
		SELECT 'EQT'|| EMPL_QST_SEQ.NEXTVAL as qaNotiwrNo
		FROM DUAL
	</select>

	<!-- 취업Q&A 게시글 등록 -->
	<insert id="jobQnaInsert" parameterType="CommunityVO">
		INSERT INTO EMPL_QST(QA_NOTIWR_NO, TTL, ID, CNTN, HTML_CNTN)
		VALUES (#{qaNotiwrNo}, #{ttl}, #{id}, #{cntn}, #{htmlCntn})
	</insert>

	<!-- 취업Q&A 게시글 목록 조회 -->
	<select id="jobQnaList" resultType="CommunityVO">
		SELECT QA_NOTIWR_NO, TTL, ID, CNTN, HTML_CNTN, 
			   INQ_CNT, RPLY_CNT, REG_DT 
		FROM EMPL_QST
		ORDER BY QA_NOTIWR_NO DESC
	</select>
	
	<!-- 취업Q&A 상세 페이지 조회 -->
	<select id="jobQnaDetail" resultType="CommunityVO">
		SELECT QA_NOTIWR_NO, TTL, ID, CNTN, HTML_CNTN, 
	        	INQ_CNT, RPLY_CNT, REG_DT 
		FROM EMPL_QST
		WHERE QA_NOTIWR_NO = #{qaNotiwrNo}
	</select>
	
	<!-- 취업 Q&A 수정 기능 -->
	<update id="jobQnaModFn" parameterType="String">
		UPDATE EMPL_QST
		<set>
			 <if test="ttl != null and !ttl.equals('')">
				 ttl = #{ttl},
			 </if>
			 <if test="cntn != null and !cntn.equals('')">
				 cntn = #{cntn},
			 </if>
			 <if test="htmlCntn != null and !htmlCntn.equals('')">
				 HTML_CNTN = #{htmlCntn}
			 </if>
		</set>
		WHERE QA_NOTIWR_NO = #{qaNotiwrNo}
	</update>
	
	<!-- 취업 Q&A 삭제 기능 -->
	<delete id="jobQnaDelete" parameterType="String">
		DELETE 
		  FROM empl_qst
		 WHERE QA_NOTIWR_NO = #{qaNotiwrNo}
	</delete>

	<!-- 취업 Q&A 조회수 기능 -->
	<update id="jobQnaView" parameterType="String">
		UPDATE EMPL_QST
		   SET INQ_CNT = TO_NUMBER(INQ_CNT) + 1
		 WHERE QA_NOTIWR_NO = #{qaNotiwrNo}
	</update>
	
	<!-- 취업 Q&A 댓글 등록 -->
	<insert id="qnaReplyAdd" parameterType="StudyVO">
		<selectKey keyProperty="rplyNo" resultType="String" order="BEFORE">
		 	SELECT 'EQR'|| EMPL_RPLY_SEQ.NEXTVAL as rplyNo
			FROM DUAL
		</selectKey>
		
		INSERT INTO EMPL_RPLY(  RPLY_NO
							  , QA_NOTIWR_NO
							  , ID
							  , RPLY_CNTN
							  , RPLY_GROUP )
			 VALUES (  #{rplyNo}
			 		 , #{qaNotiwrNo}
			 		 , #{id}
			 		 , #{rplyCntn}
			 		 , #{rplyNo}
			 		)
	</insert>
	
	<!-- 취업 Q&A 모댓글 리스트 출력 -->
	<select id="qnaReplyList" resultType="ReplyVO">
		SELECT RPLY_NO, QA_NOTIWR_NO, ID, RPLY_CNTN, REG_DT, RPLY_DEPTH, RPLY_GROUP, RPLY_YN 
		  FROM EMPL_RPLY
		 WHERE QA_NOTIWR_NO = #{qaNotiwrNo} 
		   AND RPLY_DEPTH = #{rplyDepth}
		 ORDER BY REG_DT DESC
	</select>
	
	
	<!-- 면접 후기 등록 -->
	<insert id="jobInterviewInsert" parameterType="IntrvVO">
		<selectKey keyProperty="intrvNo" resultType="String" order="BEFORE">
		 	SELECT 'ITV'|| INTRV_SCRN_SEQ.NEXTVAL as intrvNo
			FROM DUAL
		</selectKey>
		INSERT INTO INTRV_SCRN(intrv_no, co_nm, duty, carr, appr, dif, intrv_typ, intrv_rcnt, spc_ctnt, pass_yn, id, intrv_img, qst_cntn, intrv_dt)
		VALUES (#{intrvNo}, #{coNm}, #{duty}, #{carr}, #{appr}, #{dif}, #{intrvTyp}, #{intrvRcnt}, #{spcCtnt}, #{passYn}, #{id}, #{intrvImg}, #{qstCntn}, #{intrvDt})
	</insert>
	
	<!-- 면접후기 리스트 출력 -->
	<select id="jobInterviewList" resultType="IntrvVO">
		SELECT INTRV_NO
		       , ID
		       , CO_NM
		       , get_common(DUTY) as duty
		       , get_common(CARR) as carr
		       , get_common(APPR) as appr
		       , get_common(DIF)  as dif
		       , get_common(INTRV_TYP) as intrvTyp
		       , get_common(INTRV_RCNT) as intrvRcnt
		       , get_common(PASS_YN) as passYn
		       , INTRV_IMG
		       , QST_CNTN
		       , SPC_CTNT
		       , REG_DT
		       , ACCP_YN
		       , INTRV_DT
		FROM intrv_scrn
		WHERE ACCP_YN = 'Y'
		ORDER BY REG_DT DESC, INTRV_DT DESC
	</select>
	
	<!-- 프로젝트 모집 등록 -->
	<insert id="projectInsert" parameterType="PrjtVO">
	
		<selectKey keyProperty="prjtNo" resultType="String" order="BEFORE">
		 	SELECT 'PRJ'|| PRJT_SEQ.NEXTVAL as prjtNo
			FROM DUAL
		</selectKey>
		
		INSERT INTO PRJT( PRJT_NO
						  , ID
						  , PROG_MTHD
						  , COLL_RCNT
						  , PROG_TERM
						  , SKILL
						  , COLL_POSI
						  , COCT_MTHD
						  , CONTACT
						  , TTL
						  , CNTN
						  , EXPC_DT
						  , COLL_ST
						  , CLS_DT)
		VALUES (#{prjtNo}
				, #{id}
				, #{progMthd}
				, #{collRcnt}
				, #{progTerm}
				, #{skill}
				, #{collPosi}
				, #{coctMthd}
				, #{contact}
				, #{ttl}
				, #{cntn}
				, #{expcDt}
				, #{collSt}
				, #{clsDt})
	</insert>
	
	<!-- 프로젝트 모집 리스트 -->
	<select id="projectList" resultType="PrjtVO">
		SELECT PRJT_NO
		       , get_common(PROG_MTHD) as progMthd
		       , COLL_RCNT
		       , get_common(PROG_TERM) as progTerm
		       , SKILL
		       , get_common(COLL_POSI) as collPosi
		       , get_common(COCT_MTHD) as coctMthd
		       , TTL
		       , CNTN
		       , RPLY_CNT
		       , INQ_CNT
		       , EXPC_DT
		       , get_common(COLL_ST) as collSt
		       , CLS_DT
		       , ID
		       , REG_DT
		       , CONTACT
		FROM PRJT
		ORDER BY COLL_ST ASC , PRJT_NO DESC
	</select>
	
	<!-- 프로젝트 모집 상세 -->
	<select id="projectDetail" resultType="PrjtVO">
		SELECT PRJT_NO
		       , get_common(PROG_MTHD) as progMthd
		       , COLL_RCNT
		       , get_common(PROG_TERM) as progTerm
		       , SKILL
		       , get_common(COLL_POSI) as collPosi
		       , get_common(COCT_MTHD) as coctMthd
		       , TTL
		       , CNTN
		       , RPLY_CNT
		       , INQ_CNT
		       , EXPC_DT
		       , get_common(COLL_ST) as collSt
		       , CLS_DT
		       , ID
		       , REG_DT
		       , CONTACT
		FROM PRJT
		WHERE prjt_no = #{prjtNo}
	</select>
	
	<!-- 프로젝트 모집 조회수 기능 -->
	<update id="projectView" parameterType="String">
		UPDATE PRJT
		   SET INQ_CNT = TO_NUMBER(INQ_CNT) + 1
		 WHERE PRJT_NO = #{prjtNo}
	</update>
	
	
	<!-- 프로젝트 모집 수정 -->
	<update id="projectModFn" parameterType="PrjtVO">
		UPDATE PRJT
		  <set> 
		  	   <if test="progMthd != null and !progMthd.equals('')">
		   	   		PROG_MTHD = #{progMthd}, 
		   	   </if>
		   	   <if test="collRcnt != null and !collRcnt.equals('')">
		       		COLL_RCNT = #{collRcnt},
		       </if>
		       <if test="progTerm != null and !progTerm.equals('')">
		       		PROG_TERM = #{progTerm},
		       </if>
		       <if test="skill != null and !skill.equals('')">
		       		SKILL = #{skill},
		       </if>
		       <if test="collPosi != null and !collPosi.equals('')">
		       		COLL_POSI = #{collPosi},
		       </if>
		       <if test="coctMthd != null and !coctMthd.equals('')">
		      		COCT_MTHD = #{coctMthd},
		       </if>
		       <if test="contact != null and !contact.equals('')">
		       		CONTACT = #{contact},
		       </if>
		       <if test="ttl != null and !ttl.equals('')">
		       		TTL = #{ttl},
		       </if>
		       <if test="cntn != null and !cntn.equals('')">
		       		CNTN = #{cntn},
		       </if>
		       <if test="expcDt != null and !expcDt.equals('')">
		       		EXPC_DT = #{expcDt},
		       </if>
		       <if test="collSt != null and !collSt.equals('')">
		       		COLL_ST = #{collSt},
		       </if>
		       <if test="clsDt != null and !clsDt.equals('')">
		      		CLS_DT = #{clsDt}
		       </if>
		  </set>
		 WHERE PRJT_NO = #{prjtNo}
	</update>
	
	<!-- 프로젝트 모집 삭제 -->
	<delete id="projectDelFn" parameterType="String">
		DELETE
		  FROM PRJT
		 WHERE PRJT_NO = #{prjtNo}
	</delete>
	
	<!-- 스터디 모집 등록 -->
	<insert id="studyInsert" parameterType="StudyVO">
		<selectKey keyProperty="studyNo" resultType="String" order="BEFORE">
		 	SELECT 'STD'|| STUDY_SEQ.NEXTVAL as studyNo
			FROM DUAL
		</selectKey>
		INSERT INTO STUDY( STUDY_NO
						  , ID
						  , STUDY_FG
						  , TTL
						  , CNTN
						  , STUDY_SJT
						  , PROG_MTHD
						  , COLL_RCNT
						  , COCT_MTHD
						  , CONTACT
						  , EXPC_DT
						  , PROG_TERM
						  , CLS_DT
						  , COLL_ST)
		VALUES (  #{studyNo}
				, #{id}
				, #{studyFg}
				, #{ttl}
				, #{cntn}
				, #{studySjt}
				, #{progMthd}
				, #{collRcnt}
				, #{coctMthd}
				, #{contact}
				, #{expcDt}
				, #{progTerm}
				, #{clsDt}
				, #{collSt})
	</insert>
	
	<!-- 스터디 목록 리스트 -->
	<select id="studyList" resultType="StudyVO">
		SELECT STUDY_NO
		       , get_common(study_fg) as studyFg
		       , get_common(prog_mthd) as progMthd
		       , ttl
		       , cntn
		       , get_common(coct_mthd) as coctMthd
		       , coll_rcnt
		       , rply_cnt
		       , inq_cnt
		       , expc_dt
		       , get_common(coll_st) as collSt
		       , cls_dt
		       , id
		       , reg_dt
		       , study_sjt
		       , contact
		       , get_common(prog_term) as progTerm
		  FROM STUDY
	  ORDER BY COLL_ST ASC, STUDY_NO DESC
	</select>
	
	<!-- 스터디 모집 상세 -->
	<select id="studyDetail" resultType="StudyVO">
		SELECT STUDY_NO
		       , get_common(study_fg) as studyFg
		       , get_common(prog_mthd) as progMthd
		       , ttl
		       , cntn
		       , get_common(coct_mthd) as coctMthd
		       , coll_rcnt
		       , rply_cnt
		       , inq_cnt
		       , expc_dt
		       , get_common(coll_st) as collSt
		       , cls_dt
		       , id
		       , reg_dt
		       , study_sjt
		       , contact
		       , get_common(prog_term) as progTerm
		FROM study
		WHERE STUDY_NO = #{studyNo}
	</select>
	
	<!-- 스터디 모집 조회수 기능 -->
	<update id="studyView" parameterType="String">
		UPDATE STUDY
		   SET INQ_CNT = TO_NUMBER(INQ_CNT) + 1
		 WHERE STUDY_NO = #{studyNo}
	</update>
	
	<!-- 스터디 모집 수정 기능 -->
	<update id="studyModFn" parameterType="StudyVO">
		UPDATE STUDY
		   <set> 
		   	   <if test="studyFg != null and !studyFg.equals('')">
		   			STUDY_FG = #{studyFg},
		   	   </if>
		   	   <if test="ttl != null and !ttl.equals('')">
		       		TTL = #{ttl},
		       </if>
		       <if test="cntn != null and !cntn.equals('')">
		       		CNTN = #{cntn},
		       </if>
		       <if test="studySjt != null and !studySjt.equals('')">
		       		STUDY_SJT = #{studySjt},
		       </if>
		       <if test="progMthd != null and !progMthd.equals('')">
		       		PROG_MTHD = #{progMthd},
		       </if>
		       <if test="collRcnt != null and !collRcnt.equals('')">
		       		COLL_RCNT = #{collRcnt},
		       </if>
		       <if test="coctMthd != null and !coctMthd.equals('')">
		       		COCT_MTHD = #{coctMthd},
		       </if>
		       <if test="contact != null and !contact.equals('')">
		       		CONTACT = #{contact},
		       </if>
		       <if test="expcDt != null and !expcDt.equals('')">
		       		EXPC_DT = #{expcDt},
		       </if>
		       <if test="progTerm != null and !progTerm.equals('')">
		       		PROG_TERM = #{progTerm},
		       </if>
		       <if test="clsDt != null and !clsDt.equals('')">
		       		CLS_DT = #{clsDt},
		       </if>
		       <if test="collSt != null and !collSt.equals('')">
		       		COLL_ST = #{collSt}
		       </if>
		  </set>
		 WHERE STUDY_NO = #{studyNo}
	</update>
	
	<!-- 스터디 모집 삭제 기능 -->
	<delete id="studyDelFn" parameterType="String">
		DELETE
		  FROM STUDY
		 WHERE STUDY_NO = #{studyNo}
	</delete>
	
	
</mapper>