<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.moa.community.mapper.CommunityMapper">

	<!-- 취업Q&A 게시글 기본키부여 -->
	<select id="jobQnaKey" resultType="String">
		SELECT 'EQT'|| EMPL_QST_SEQ.NEXTVAL as qaNotiwrNo
		FROM DUAL
	</select>

	<!-- 취업Q&A 게시글 등록 -->
	<insert id="jobQnaInsert" parameterType="CommunityVO">
		INSERT INTO EMPL_QST(QA_NOTIWR_NO, TTL, ID, CNTN, HTML_CNTN)
		VALUES (#{qaNotiwrNo}, #{ttl}, #{id}, #{cntn}, #{htmlCntn})
	</insert>

	<!-- 취업Q&A 게시글 목록 조회 -->
	<select id="jobQnaList" resultType="CommunityVO">
		SELECT QA_NOTIWR_NO, TTL, ID, CNTN, HTML_CNTN, 
			   INQ_CNT, RPLY_CNT, REG_DT 
		FROM EMPL_QST
		ORDER BY QA_NOTIWR_NO DESC
	</select>
	
	<!-- 취업Q&A 상세 페이지 조회 -->
	<select id="jobQnaDetail" resultType="CommunityVO">
		SELECT QA_NOTIWR_NO, TTL, ID, CNTN, HTML_CNTN, 
	        	INQ_CNT, RPLY_CNT, REG_DT 
		FROM EMPL_QST
		WHERE QA_NOTIWR_NO = #{qaNotiwrNo}
	</select>
	
	<!-- 취업 Q&A 수정 기능 -->
	<update id="jobQnaModFn" parameterType="String">
		UPDATE EMPL_QST
		<set>
			 <if test="ttl != null and !ttl.equals('')">
				 ttl = #{ttl},
			 </if>
			 <if test="cntn != null and !cntn.equals('')">
				 cntn = #{cntn},
			 </if>
			 <if test="htmlCntn != null and !htmlCntn.equals('')">
				 HTML_CNTN = #{htmlCntn}
			 </if>
		</set>
		WHERE QA_NOTIWR_NO = #{qaNotiwrNo}
	</update>
	
	<!-- 취업 Q&A 삭제 기능 -->
	<delete id="jobQnaDelete" parameterType="String">
		DELETE 
		  FROM empl_qst
		 WHERE QA_NOTIWR_NO = #{qaNotiwrNo}
	</delete>

	<!-- 취업 Q&A 조회수 기능 -->
	<update id="jobQnaView" parameterType="String">
		UPDATE EMPL_QST
		   SET INQ_CNT = INQ_CNT + 1
		 WHERE QA_NOTIWR_NO = #{qaNotiwrNo}
	</update>
	
	<!-- 면접 후기 등록 -->
	<insert id="jobInterviewInsert" parameterType="IntrvVO">
		<selectKey keyProperty="intrvNo" resultType="String" order="BEFORE">
		 	SELECT 'ITV'|| INTRV_SCRN_SEQ.NEXTVAL as intrvNo
			FROM DUAL
		</selectKey>
		INSERT INTO INTRV_SCRN(intrv_no, co_nm, duty, carr, appr, dif, intrv_typ, intrv_rcnt, spc_ctnt, pass_yn, id, intrv_img, qst_cntn, intrv_dt)
		VALUES (#{intrvNo}, #{coNm}, #{duty}, #{carr}, #{appr}, #{dif}, #{intrvTyp}, #{intrvRcnt}, #{spcCtnt}, #{passYn}, #{id}, #{intrvImg}, #{qstCntn}, #{intrvDt})
	</insert>
	
	<!-- 면접후기 리스트 출력 -->
	<select id="jobInterviewList" resultType="IntrvVO">
		SELECT INTRV_NO
		       , ID
		       , CO_NM
		       , get_common(DUTY) as duty
		       , get_common(CARR) as carr
		       , get_common(APPR) as appr
		       , get_common(DIF)  as dif
		       , get_common(INTRV_TYP) as intrvTyp
		       , get_common(INTRV_RCNT) as intrvRcnt
		       , get_common(PASS_YN) as passYn
		       , INTRV_IMG
		       , QST_CNTN
		       , SPC_CTNT
		       , REG_DT
		       , ACCP_YN
		       , INTRV_DT
		FROM intrv_scrn
		WHERE ACCP_YN = 'Y'
		ORDER BY REG_DT DESC, INTRV_DT DESC
	</select>
	
	<!-- 프로젝트 모집 등록 -->
	<insert id="projectInsert" parameterType="PrjtVO">
	
		<selectKey keyProperty="prjtNo" resultType="String" order="BEFORE">
		 	SELECT 'PRJ'|| PRJT_SEQ.NEXTVAL as prjtNo
			FROM DUAL
		</selectKey>
		
		INSERT INTO PRJT( PRJT_NO
						  , ID
						  , PROG_MTHD
						  , COLL_RCNT
						  , PROG_TERM
						  , SKILL
						  , COLL_POSI
						  , COCT_MTHD
						  , CONTACT
						  , TTL
						  , CNTN
						  , EXPC_DT
						  , COLL_ST
						  , CLS_DT)
		VALUES (#{prjtNo}
				, #{id}
				, #{progMthd}
				, #{collRcnt}
				, #{progTerm}
				, #{skill}
				, #{collPosi}
				, #{coctMthd}
				, #{contact}
				, #{ttl}
				, #{cntn}
				, #{expcDt}
				, #{collSt}
				, #{clsDt})
	</insert>
	
	<!-- 프로젝트 모집 리스트 -->
	<select id="projectList" resultType="PrjtVO">
		SELECT PRJT_NO
		       , get_common(PROG_MTHD) as progMthd
		       , COLL_RCNT
		       , get_common(PROG_TERM) as progTerm
		       , SKILL
		       , get_common(COLL_POSI) as collPosi
		       , get_common(COCT_MTHD) as coctMthd
		       , TTL
		       , CNTN
		       , RPLY_CNT
		       , INQ_CNT
		       , EXPC_DT
		       , get_common(COLL_ST) as collSt
		       , CLS_DT
		       , ID
		       , REG_DT
		       , CONTACT
		FROM PRJT
		ORDER BY PRJT_NO DESC
	</select>
	
	<!-- 프로젝트 모집 상세 -->
	<select id="projectDetail" resultType="PrjtVO">
		SELECT PRJT_NO
		       , get_common(PROG_MTHD) as progMthd
		       , COLL_RCNT
		       , get_common(PROG_TERM) as progTerm
		       , SKILL
		       , get_common(COLL_POSI) as collPosi
		       , get_common(COCT_MTHD) as coctMthd
		       , TTL
		       , CNTN
		       , RPLY_CNT
		       , INQ_CNT
		       , EXPC_DT
		       , get_common(COLL_ST) as collSt
		       , CLS_DT
		       , ID
		       , REG_DT
		       , CONTACT
		FROM PRJT
		WHERE prjt_no = #{prjtNo}
	</select>
	
</mapper>