<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.moa.community.mapper.CommunityMapper">

	<!-- 취업Q&A 게시글 기본키부여 -->
	<select id="jobQnaKey" resultType="String">
		SELECT 'EQT'|| EMPL_QST_SEQ.NEXTVAL as qaNotiwrNo
		FROM DUAL
	</select>

	<!-- 취업Q&A 게시글 등록 -->
	<insert id="jobQnaInsert" parameterType="CommunityVO">
		INSERT INTO EMPL_QST(QA_NOTIWR_NO, TTL, ID, CNTN, HTML_CNTN)
		VALUES (#{qaNotiwrNo}, #{ttl}, #{id}, #{cntn}, #{htmlCntn})
	</insert>

	<!-- 취업Q&A 게시글 목록 조회 -->
	<select id="jobQnaList" resultType="CommunityVO">
		SELECT QA_NOTIWR_NO, TTL, ID, CNTN, HTML_CNTN, 
			   INQ_CNT, RPLY_CNT, REG_DT 
		FROM EMPL_QST
		ORDER BY QA_NOTIWR_NO DESC
	</select>
	
	<!-- 취업Q&A 상세 페이지 조회 -->
	<select id="jobQnaDetail" resultType="CommunityVO">
		SELECT QA_NOTIWR_NO, TTL, ID, CNTN, HTML_CNTN, 
	        	INQ_CNT, RPLY_CNT, REG_DT 
		FROM EMPL_QST
		WHERE QA_NOTIWR_NO = #{qaNotiwrNo}
	</select>
	
	<!-- 취업 Q&A 수정 기능 -->
	<update id="jobQnaModFn" parameterType="String">
		UPDATE EMPL_QST
		<set>
			 <if test="ttl != null and !ttl.equals('')">
				 ttl = #{ttl},
			 </if>
			 <if test="cntn != null and !cntn.equals('')">
				 cntn = #{cntn},
			 </if>
			 <if test="htmlCntn != null and !htmlCntn.equals('')">
				 HTML_CNTN = #{htmlCntn}
			 </if>
		</set>
		WHERE QA_NOTIWR_NO = #{qaNotiwrNo}
	</update>
	
	<!-- 취업 Q&A 삭제 기능 -->
	<delete id="jobQnaDelete" parameterType="String">
		DELETE 
		  FROM empl_qst
		 WHERE QA_NOTIWR_NO = #{qaNotiwrNo}
	</delete>

	<!-- 취업 Q&A 조회수 기능 -->
	<update id="jobQnaView" parameterType="String">
		UPDATE EMPL_QST
		   SET INQ_CNT = INQ_CNT + 1
		 WHERE QA_NOTIWR_NO = #{qaNotiwrNo}
	</update>
	
	<insert id="jobInterviewInsert" parameterType="IntrvVO">
		INSERT INTO INTRV_SCRN(intrv_no, co_nm, duty, carr, appr, dif, intrv_typ, intrv_rcnt, spc_ctnt, pass_yn, reg_dt, accp_yn, id, intrv_img, qst_cntn)
		VALUES (#{intrvNo}, #{coNm}, #{duty}, #{carr}, #{appr}, #{dif}, #{intrvTyp}, #{intrvRcnt}, #{spcCtnt}, #{passYn}, #{regDt}, #{accpYn}, #{id}, #{intrvImg}, #{qstCntn)})
	</insert>
	
</mapper>