<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.moa.hire.mapper.HireMapper">
	<select id="serchHire" resultType="HireVO">
		SELECT R.TTL,
		       K.SKILL,
		       C.CO_NM,
		       R.WKSITE,
               R.EXPR_DT,
               R.CO_IMG,
               R.RECRUIT_NO,
              	<if test="id != null and id != ''">
              	 (SELECT S.RECRUIT_NO FROM RECRUIT_SCRAP S WHERE R.RECRUIT_NO = S.RECRUIT_NO AND ID = #{id}) AS scrapYn
              	</if>
		FROM RECRUIT_ANUN R
		JOIN CO C
		ON R.ID = C.ID
		JOIN RECRUIT_SKILL K
		ON R.RECRUIT_NO = K.RECRUIT_NO
	</select>
	<select id="scrapHire" resultType="HireVO">
		SELECT R.TTL,
		       K.SKILL,
		       C.CO_NM,
		       R.WKSITE,
		       R.EXPR_DT,
		       R.CO_IMG,
		       S.RECRUIT_NO,
		       <if test="id != null and id != ''">
              	 (SELECT S.RECRUIT_NO FROM RECRUIT_SCRAP S WHERE R.RECRUIT_NO = S.RECRUIT_NO AND ID = #{id}) AS scrapYn
              	</if>
		FROM RECRUIT_ANUN R
		JOIN CO C
		ON R.ID = C.ID
		JOIN RECRUIT_SCRAP S
		ON R.RECRUIT_NO = S.RECRUIT_NO
        JOIN MEMBER M
        ON S.ID = M.ID
        JOIN RECRUIT_SKILL K
		ON R.RECRUIT_NO = K.RECRUIT_NO
		WHERE S.SCRAP_NO IS NOT NULL
        AND M.ID = #{id}
	</select>
</mapper>