<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.moa.member.mapper.MemberMapper">
	
	<!-- 단건조회 -->
	<select id="getMember" resultType="MemberVO">
		SELECT  id,
				name,
				pw,
				ph,
				ph_cl,
				email,
				blog,
				post,
				authr,
				clsf,
				log_cnt,
				ltst_tm,
				gen,
				birth,
				addr,
				join_dt,
				age,
				api,
				nickname
		 FROM MEMBER
		 WHERE ID = #{id}
		   AND authr = 'ROLE_MEM'
	<!-- #{ } : PreparedStatement 0 -> 0, Kang -> 'Kang'
		 ${ } : 0 -> 0, Kang -> Kang -->
	</select>
	
	<select id="getCoMember" resultType="MemberVO">
		SELECT  ID,
				PW,
				authr
		 FROM MEMBER
		 WHERE ID = #{id}
		   AND authr = 'ROLE_CO'
	<!-- #{ } : PreparedStatement 0 -> 0, Kang -> 'Kang'
		 ${ } : 0 -> 0, Kang -> Kang -->
	</select>
	
	<update id="updateMember">
		UPDATE member
		   SET pw = #{pw}
		 WHERE id = #{id}
	</update>
	
</mapper>