<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.moa.mem.mapper.MemMapper">

	<select id="openSesame" resultType="MemVO">
		SELECT 	r.id as id_co,
				r.ttl,
				r.expr_dt, 
				r.recruit_no, 
				r.co_img, 
				c.co_nm, 
				m.email
		FROM 	co c join recruit_anun r
		ON 		r.id = c.id
					join member m
					on c.id = m.id
		WHERE 	r.id IN (SELECT id_co
						FROM following
						WHERE id_mem = #{id})
	</select>



</mapper>