<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<meta charset="UTF-8">
<title>hireInsert</title>
<style>

body {

  padding-top: 70px;
  padding-bottom: 30px;

}
#hireButtons{
		float:right;
}
#star{
	color: red;
}
</style>
</head>
<body>
	<div layout:fragment="content">
   <!-- 토스트 에디터 -->
   <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<div class = "container">
	<h1>
		공고등록 페이지
	</h1>
	<article>
		<div role="main">
			<form name="form" id="form" role="form" method="post" action="${pageContext.request.contextPath}/board/saveBoard">
				
				<div class="mb-3">
					<label for="reg_id">제목</label><span id="star">*</span>
					<input type="text" class="form-control" name="ttl" id="reg_id" placeholder="제목">
				</div>
				
				<div class="mb-3" th:each="">
					<label for="reg_id">회사이름</label><span id="star">*</span>
					<input type="text" class="form-control" name="coNm" id="reg_id " th:each = "recruitInsert : ${recruitInsert}" th:value="${recruitInsert.coNm}">
				</div>
				
				<div class="mb-3">
					<label for="reg_id">기술스텍</label><span id="star">*</span>
					<select id = "skl" class = "selectStyle">
						<option selected value=''>기술 전체</option>
				<option th:each="list : ${list.Z}" th:text="${list.desct}" th:attr="value=${list.prov}">기술</option>
					</select>
				</div>

				<div class="mb-3">
					<label for="reg_id">주요업무</label><span id="star">*</span>
					<select id = "job" class = "selectStyle">
						<option selected value = ''>개발 전체</option>
						<option th:each="list : ${list.N}" th:text="${list.desct}" th:attr="value=${list.prov}">직무</option>
					</select>
				</div>

				<div class="divStyle mb-3">
							  <div class="form-floating border fullWidth">
							  	<div class="row">
							  		<div class="col-md-3">
							  			<div style="padding : 16px;">
							  				<label for="floatingTextarea">자격요건</label><span id="star">*</span>
							  			</div>
							  		</div>
							  		<div class="col-md-9">
							  			<textarea id="qualCond" class="form-control radius fullWidth" placeholder="자격요건을 작성해주세요" style="height: 200px; resize: none; border:none;"></textarea>
							  		</div>
							  	</div>
							  </div>
							</div>
				
				<div class="divStyle mb-3">
							  <div class="form-floating border fullWidth">
							  	<div class="row">
							  		<div class="col-md-3">
							  			<div style="padding : 16px;">
							  				<label for="floatingTextarea">우대사항</label>
							  			</div>
							  		</div>
							  		<div class="col-md-9">
							  			<textarea id="prefCond" class="form-control radius fullWidth" placeholder="우대사항을 작성해주세요" style="height: 200px; resize: none; border:none;"></textarea>
							  		</div>
							  	</div>
							  </div>
							</div>
				
				<div class="divStyle mb-3">
							  <div class="form-floating border fullWidth">
							  	<div class="row">
							  		<div class="col-md-3">
							  			<div style="padding : 16px;">
							  				<label for="floatingTextarea">복지 및 혜택</label>
							  			</div>
							  		</div>
							  		<div class="col-md-9">
							  			<textarea id="welf" class="form-control radius fullWidth" placeholder="복지 및 혜택을 작성해주세요" style="height: 200px; resize: none; border:none;"></textarea>
							  		</div>
							  	</div>
							  </div>
							</div>
				
				<div class="mb-3">
					<label for="tag">경력</label>
					<select id="edu" class = "selectStyle">
						<option selected value = ''>경력전체</option>
						<option th:each="list : ${list.Y}" th:text="${list.desct}" th:attr="value=${list.prov}">경력</option>
					</select>
				</div>
				
				<div class="mb-3">
					<label for="tag">학력</label>
					<select id="cre" class = "selectStyle">
						<option selected value = ''>학력전체</option>
						<option th:each="list : ${list.D}" th:text="${list.desct}" th:attr="value=${list.prov}">경력</option>
					</select>
				</div>
				
				<div class="mb-3">
					<label for="tag">마감일</label><span id="star">*</span>
					<input type="date" class="form-control" name="exprDt" id="tag" placeholder="태그를 입력해 주세요">
				</div>
				
				<div class="mb-3">
					<label for="tag">근무지역</label><span id="star">*</span>
					<select id="loc" class = "selectStyle">
						<option selected value=''>전국</option>
						<option th:each="list : ${list.X}" th:text="${list.desct}" th:attr="value=${list.prov}">지역</option>
					</select>
				</div>
				
				<div class="mb-3">
					<label for="tag">기업 / 서비스 소개</label><span id="star">*</span>
					<div id="editor2"></div>
				</div>
			</form>
			<div >
				<button type="button" class="btn btn-outline-dark" id="btnList">목록</button>
				<button type="button" class="btn btn-outline-dark" id="btnSave">저장</button>
			</div>
		</div>
	</article>
		</div>
	<br>
<script>
	// 공고목록으로 이동
	$(document).on('click', '#btnList', function(e){
		e.preventDefault();

		location.href="/hirePage";
	});
	// 저장	
	$(document).on('click', '#btnSave', function(e){
		e.preventDefault();
		
		$("#form").submit();
	
	});
	
	//에디터 정의
	 let imgAddSave = '';
    const editor2 = new toastui.Editor({  
              el: document.querySelector('#editor2'),
              previewStyle: 'vertical',
              height: '500px',
             initialValue: '', 
             initialEditType: "wysiwyg",
              hooks: {
                   addImageBlobHook: (blob, callback) => {
                     var token = $("meta[name='_csrf']").attr("content");
                     var header = $("meta[name='_csrf_header']").attr("content");
                     // blob : Java Script 파일 객체
                     //console.log(blob);

                     const formData = new FormData();
                     formData.append("image", blob);

                     let url = "/moamoreImg/";
                     $.ajax({
                       type: "POST",
                       enctype: "multipart/form-data",
                       url: "/test",
                       data: formData,
                       /* beforeSend: function (xhr) {
                         /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다
                         xhr.setRequestHeader(header, token);
                       }, */
                       //dataType: "json",
                       processData: false,
                       contentType: false,
                       cache: false,
                       success: function (data) {
                         data = JSON.parse(data);
        
                         url += data.filename;
                         callback(url, "");
                       },
                       error: function (e) {
                         callback("image_load_fail", "사진 대체 텍스트 입력");
                       },
                     });
                   },
                 },
            });
</script>
	</div>
</body>
</html>