<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<meta charset="UTF-8">
<title>hireInfo</title>
<style>

body {

  padding-top: 70px;
  padding-bottom: 30px;

}
#hireButtons{
	float:right;
}
#searchBtn{
	margin-left: 3px;
}
.modal-body{
	text-align: center;
}
</style>
</head>
<body>
	<div layout:fragment="content">
   <!-- 토스트 그리드 -->
   <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
	<div class = "container" th:each="hireVO:${hireInfo}">
	<div id="hireButtons">
		<button type="button" class="btn btn-outline-dark">공고 스크랩</button>
		<button type="submit" class="btn btn-outline-dark">기업 팔로우</button>
		<button type="button"
			class="btn btn-outline-dark" data-toggle="modal"
			data-target="#exampleModal" id="searchBtn" name="searchBtn">
			지원하기
		</button>
	</div>
	<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<!-- <div class="modal-dialog"> -->
						<div class="modal-dialog modal-dialog-centered modal-lg">
							<!-- 모달창 화면 중앙에  modal-dialog-centered, 모달 사이즈 변경 직접 불가해서 modal-lg 추가 -->
							<div class="modal-content">
								<div class="modal-header">
								</div>
								<div class="modal-body">
									<!-- 이력서 자동 조회 -->
									<div id="recruitGrid"></div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-outline-dark" data-dismiss="modal">이력서 수정</button>
									<button type="button" class="btn btn-outline-dark" onclick="addOrder()">지원하기</button>
								</div>
							</div>
						</div>
					</div>
					<!-- ↑↑↑ 모달 -->
	<h1 th:text="${hireVO.ttl}">
		제목
	</h1>
	<i class="bi bi-bookmark-heart-fill fs-5 btn1" th:classappend="${hireVO.scrapYn != null} ? 'text-danger' : ''"></i>
	<article>
		<div role="main">
			<form name="form" id="form" role="form" method="post" action="${pageContext.request.contextPath}/board/saveBoard">
				

				<div class="mb-3">
					<label for="reg_id">회사이름</label>
					<input type="text" class="form-control" name="coNm" id="reg_id" value="회사이름" readonly th:text="${hireVO.coNm}">
				</div>
				
				<div class="mb-3">
					<label for="reg_id">기술스텍</label>
					<input type="text" class="form-control" name="coNm" id="reg_id" value="기술스텍" readonly th:text="${hireVO.skill}">
				</div>

				<div class="mb-3">
					<label for="reg_id">주요업무</label>
					<input type="text" class="form-control" name="coNm" id="reg_id" value="주요업무" readonly th:text="${hireVO.maBuss}">
				</div> 
				
				<div class="mb-3">
					<label for="reg_id">자격요건</label>
					<input type="text" class="form-control" name="coNm" id="reg_id" value="자격요건" readonly th:text="${hireVO.qualCond}">
				</div>
				
				<div class="mb-3">
					<label for="reg_id">우대사항</label>
					<input type="text" class="form-control" name="coNm" id="reg_id" value="우대사항" readonly th:text="${hireVO.prefCond}">
				</div>
				
				<div class="mb-3">
					<label for="reg_id">복지 및 혜택</label>
					<input type="text" class="form-control" name="coNm" id="reg_id" value="복지 및 혜택" readonly th:text="${hireVO.welf}">
				</div>
				
				<div class="mb-3">
					<label for="reg_id">경력</label>
					<input type="text" class="form-control" name="coNm" id="reg_id" value="경력" readonly th:text="${hireVO.carr}">
				</div>
				
				<div class="mb-3">
					<label for="reg_id">학력</label>
					<input type="text" class="form-control" name="coNm" id="reg_id" value="학력" readonly th:text="${hireVO.shcr}">
				</div>
				
				<div class="mb-3">
					<label for="tag">마감일</label>
					<input type="text" class="form-control" name="exprDt" id="tag" value="마감일" readonly th:text="${hireVO.exprDt}">
				</div>
				
				<div class="mb-3">
					<label for="tag">근무지역</label>
					<input type="text" class="form-control" name="exprDt" id="tag" value="근무지역" readonly th:text="${hireVO.wksite}">
				</div>
				
				<div class="mb-3">
					<label for="tag">기업 / 서비스 소개</label>
					<input type="text" class="form-control" name="exprDt" id="tag" value="기업 / 서비스 소개" readonly th:text="${hireVO.coIntro}">
					<br>
					<!-- 이미지 -->
					<div  class="row mt-7 gx-xl-7 pt-0">
						<div class="image col-md-4">
							<img class="w-100" src="assets/img/blog/2.png" alt="" />
						</div>
						<div class="image col-md-4">
							<img class="w-100" src="assets/img/blog/4.png" alt="" />
						</div>
						<div class="image col-md-4">
							<img class="w-100" src="assets/img/blog/5.png" alt="" />
						</div>
					</div>
				<!--  -->
				</div>
			</form>
			<div >
				<button type="button" class="btn btn-outline-dark" id="btnList">목록</button>
			</div>
		</div>
	</article>
		</div>
	<br>
	<!-- 추천공고 -->
	<section class="bg-dark pt-6  ">
        <div class="container">
          <div class="col-md-6">
            <h1 class="text-white fs-lg-5 fs-md-3 fs-2">추천공고 <span class="py-1 px-2 rounded-2 bg-success fw-bold text-dark ms-2">Recommend!</span></h1>
            <br>
          </div>
          <div class="swiper mt-7">
            <div class="swiper-container swiper-theme" data-swiper='{"slidesPerView":1,"breakpoints":{"640":{"slidesPerView":1,"spaceBetween":10},"768":{"slidesPerView":2,"spaceBetween":20},"1025":{"slidesPerView":3,"spaceBetween":40}},"spaceBetween":10,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"navigation":{"nextEl":".swiper-button-next","prevEl":".swiper-button-prev"},"loop":true,"freeMode":true,"loopedSlides":3}'>
              <div class="swiper-wrapper">
	          <!--  -->
                <div class="swiper-slide bg-white p-5 rounded-3 h-auto">
                  <div class="d-flex flex-column justify-content-between h-100">
                    <h4 class="text-black">제목</h4>
                    <h5 class="text-black">고용 형태</h5>
                    <h5 class="text-black">구인 분야</h5>
                    <div class="d-flex align-items-center gap-3 mt-5"><img src="assets/img/review/1.png" alt="" />
                      <div class="text-black">
                        <p class="mb-0 fw-bold text-dark">기업이름</p><small>마감일</small>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->
              </div>
            </div>   
            <div class="swiper-button-next"><span class="fas fa-arrow-right fs-lg-3 fs-2"></span></div>
            <div class="swiper-button-prev"><span class="fas fa-arrow-left fs-lg-3 fs-2"></span></div>
          </div>
        </div>
      </section>
<script>
	// 공고목록으로 이동
	$(document).on('click', '#btnList', function(e){
		e.preventDefault();

		location.href="/hirePage";
		
		
	});
	// 모달창 띄우기
	$('#searchBtn').on('click', function(){
		$('#exampleModal').modal('show');
	});
	
	// 이력서 그리드 조회
	
</script>
	</div>
</body>
</html>