<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<meta charset="UTF-8">
<title>hireMod</title>
<style>

body {

  padding-top: 70px;
  padding-bottom: 30px;

}
#hireButtons{
		float:right;
}
#star{
	color: red;
}
</style>
</head>
<body>
	<div layout:fragment="content">
   <!-- 토스트 에디터 -->
   <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<div class = "container">
	<h1>
		공고수정 페이지
	</h1>
	<article>
		<div role="main">
			<form name="form" id="form" role="form" method="post" action="${pageContext.request.contextPath}/board/saveBoard">
				
				<div class="mb-3">
					<label for="reg_id">제목</label><span id="star">*</span>
					<input type="text" class="form-control" name="ttl" id="reg_id" placeholder="제목">
				</div>
				
				<div class="mb-3">
					<label for="reg_id">회사이름</label><span id="star">*</span>
					<input type="text" class="form-control" name="coNm" id="reg_id" value="회사이름">
				</div>
				
				<div class="mb-3">
					<label for="reg_id">기술스텍</label><span id="star">*</span>
					<select id = "skl" class = "selectStyle">
						<option selected value=''>기술 전체</option>
						<option value = 'Z1'>Python</option>
						<option value = 'Z2'>Spring Framework</option>
						<option value = 'Z3'>AWS</option>
						<option value = 'Z4'>Git</option>
						<option value = 'Z5'>IOS</option>
						<option value = 'Z6'>HTML</option>
						<option value = 'Z7'>JavaScript</option>
						<option value = 'Z8'>MySQL</option>
						<option value = 'Z9'>SQL</option>
						<option value = 'Z10'>Linux</option>
						<option value = 'Z11'>Android</option>
						<option value = 'Z12'>Swift</option>
						<option value = 'Z13'>C/C++</option>
						<option value = 'Z14'>PHP</option>
						<option value = 'Z15'>Doker</option>
						<option value = 'Z16'>Reack</option>
						<option value = 'Z17'>Github</option>
						<option value = 'Z18'>JPA</option>
					</select>
				</div>

				<div class="mb-3">
					<label for="reg_id">주요업무</label><span id="star">*</span>
					<select id = "job" class = "selectStyle">
						<option selected value = ''>개발 전체</option>
						<option value = 'N1'>웹 개발자</option>
						<option value = 'N2'>서버 개발자</option>
						<option value = 'N3'>안드로이드 개발자</option>
						<option value = 'N4'>프론트엔드 개발자</option>
						<option value = 'N5'>백엔드 개발자</option>
						<option value = 'N6'>자바 개발자</option>
						<option value = 'N7'>C,C++ 개발자</option>
						<option value = 'N8'>파이썬 개발자</option>
						<option value = 'N9'>Node.js 개발자</option>
						<option value = 'N10'>시스템 관리자</option>
						<option value = 'N11'>머신러닝 엔지니어</option>
					</select>
				</div>

				<div class="divStyle mb-3">
							  <div class="form-floating border fullWidth">
							  	<div class="row">
							  		<div class="col-md-3">
							  			<div style="padding : 16px;">
							  				<label for="floatingTextarea">자격요건</label><span id="star">*</span>
							  			</div>
							  		</div>
							  		<div class="col-md-9">
							  			<textarea id="qualCond" class="form-control radius fullWidth" placeholder="자격요건을 작성해주세요" style="height: 200px; resize: none; border:none;"></textarea>
							  		</div>
							  	</div>
							  </div>
							</div>
				
				<div class="divStyle mb-3">
							  <div class="form-floating border fullWidth">
							  	<div class="row">
							  		<div class="col-md-3">
							  			<div style="padding : 16px;">
							  				<label for="floatingTextarea">우대사항</label>
							  			</div>
							  		</div>
							  		<div class="col-md-9">
							  			<textarea id="prefCond" class="form-control radius fullWidth" placeholder="우대사항을 작성해주세요" style="height: 200px; resize: none; border:none;"></textarea>
							  		</div>
							  	</div>
							  </div>
							</div>
				
				<div class="divStyle mb-3">
							  <div class="form-floating border fullWidth">
							  	<div class="row">
							  		<div class="col-md-3">
							  			<div style="padding : 16px;">
							  				<label for="floatingTextarea">복지 및 혜택</label>
							  			</div>
							  		</div>
							  		<div class="col-md-9">
							  			<textarea id="welf" class="form-control radius fullWidth" placeholder="복지 및 혜택을 작성해주세요" style="height: 200px; resize: none; border:none;"></textarea>
							  		</div>
							  	</div>
							  </div>
							</div>
				
				<div class="mb-3">
					<label for="tag">경력</label>
					<select id="edu" class = "selectStyle">
						<option selected value = ''>경력전체</option>
						<option value = 'Y1'>신입</option>
						<option value = 'Y2'>3년차 이상</option>
						<option value = 'Y3'>5년차 이상</option>
						<option value = 'Y4'>7년차 이상</option>
						<option value = 'Y5'>9년차 이상</option>
						<option value = 'Y6'>10년차 이상</option>
					</select>
				</div>
				
				<div class="mb-3">
					<label for="tag">학력</label>
					<select id="cre" class = "selectStyle">
						<option selected value = ''>경력전체</option>
						<option value = 'D1'>신입</option>
						<option value = 'D2'>3년차 이상</option>
						<option value = 'D3'>5년차 이상</option>
						<option value = 'D4'>7년차 이상</option>
					</select>
				</div>
				
				<div class="mb-3">
					<label for="tag">마감일</label><span id="star">*</span>
					<input type="date" class="form-control" name="exprDt" id="tag" placeholder="태그를 입력해 주세요">
				</div>
				
				<div class="mb-3">
					<label for="tag">근무지역</label><span id="star">*</span>
					<select id="loc" class = "selectStyle">
						<option selected value=''>전국</option>
						<option value = 'X2'>서울</option>
						<option value = 'X3'>부산</option>
						<option value = 'X4'>대구</option>
						<option value = 'X5'>인천</option>
						<option value = 'X6'>광주</option>
						<option value = 'X7'>대전</option>
						<option value = 'X8'>울산</option>
						<option value = 'X9'>세종</option>
						<option value = 'X10'>경기</option>
						<option value = 'X11'>강원</option>
						<option value = 'X12'>충북</option>
						<option value = 'X13'>충남</option>
						<option value = 'X14'>전북</option>
						<option value = 'X15'>전남</option>
						<option value = 'X16'>경북</option>
						<option value = 'X17'>경남</option>
						<option value = 'X18'>제주</option>
					</select>
				</div>
				
				<div class="mb-3">
					<label for="tag">기업 / 서비스 소개</label><span id="star">*</span>
					<div id="editor2"></div>
				</div>
			</form>
			<div >
				<button type="button" class="btn btn-sm btn-primary" id="btnList">목록</button>
				<button type="button" class="btn btn-sm btn-primary" id="btnSave">저장</button>
			</div>
		</div>
	</article>
		</div>
	<br>
<script>
	$(document).on('click', '#btnSave', function(e){
		e.preventDefault();
		
		$("#form").submit();
	
	});
	$(document).on('click', '#btnList', function(e){
		e.preventDefault();

		location.href="${pageContext.request.contextPath}/hire/hirePage";
	});
	
	//에디터 정의
	 let imgAddSave = '';
    const editor2 = new toastui.Editor({  
              el: document.querySelector('#editor2'),
              previewStyle: 'vertical',
              height: '500px',
             initialValue: '', 
             initialEditType: "wysiwyg",
              hooks: {
                   addImageBlobHook: (blob, callback) => {
                     var token = $("meta[name='_csrf']").attr("content");
                     var header = $("meta[name='_csrf_header']").attr("content");
                     // blob : Java Script 파일 객체
                     //console.log(blob);

                     const formData = new FormData();
                     formData.append("image", blob);

                     let url = "/moamoreImg/";
                     $.ajax({
                       type: "POST",
                       enctype: "multipart/form-data",
                       url: "/test",
                       data: formData,
                       /* beforeSend: function (xhr) {
                         /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다
                         xhr.setRequestHeader(header, token);
                       }, */
                       //dataType: "json",
                       processData: false,
                       contentType: false,
                       cache: false,
                       success: function (data) {
                         data = JSON.parse(data);
        
                         url += data.filename;
                         callback(url, "");
                       },
                       error: function (e) {
                         callback("image_load_fail", "사진 대체 텍스트 입력");
                       },
                     });
                   },
                 },
            });
</script>
	</div>
</body>
</html>