<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout}">
<head>
<style>
	#id{
		display:inline;
	}
	#hireButtons{
		float:right;
	}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<meta charset="UTF-8">
<title>HirePage</title>
</head>
<body>
 <div layout:fragment="content">
 <div class="container">
	<!-- ============================================================================= -->
							<label for="name">직군</label> 
								<select id="job"
									class="selectStyle">
									<option selected value='job1'>개발 전체</option>
									<option value='job2'>웹 개발자</option>
									<option value='job3'>서버 개발자</option>
									<option value='job4'>안드로이드 개발자</option>
									<option value='job5'>프론트엔드 개발자</option>
									<option value='job6'>백엔드 개발자</option>
									<option value='job7'>자바 개발자</option>
									<option value='job8'>C,C++ 개발자</option>
									<option value='job9'>파이썬 개발자</option>
									<option value='job10'>Node.js 개발자</option>
									<option value='job11'>시스템 관리자</option>
									<option value='job12'>머신러닝 엔지니어</option>
								</select>
								<label for="name">지역</label> 
								<select id="loc"
									class="selectStyle">
									<option selected value='loc1'>전국</option>
									<option value='loc2'>서울</option>
									<option value='loc3'>부산</option>
									<option value='loc4'>대구</option>
									<option value='loc5'>인천</option>
									<option value='loc6'>광주</option>
									<option value='loc7'>대전</option>
									<option value='loc8'>울산</option>
									<option value='loc9'>세종</option>
									<option value='loc10'>경기</option>
									<option value='loc11'>강원</option>
									<option value='loc12'>충북</option>
									<option value='loc13'>충남</option>
									<option value='loc14'>전북</option>
									<option value='loc15'>전남</option>
									<option value='loc16'>경북</option>
									<option value='loc17'>경남</option>
									<option value='loc18'>제주</option>
								</select>
								<label for="name">경력</label> 
								<select id="cre"
									class="selectStyle">
									<option selected value='cre1'>신입</option>
									<option value='cre2'>3년차</option>
									<option value='cre3'>5년차</option>
									<option value='cre4'>7년차</option>
									<option value='cre5'>9년차</option>
									<option value='cre6'>10년차 이상</option>
								</select>
								<label for="name">기술스택</label> 
								<select id="skl"
									class="selectStyle">
									<option selected value='skl1'>전체</option>
									<option value='skl2'>Python</option>
									<option value='skl3'>Spring Framework</option>
									<option value='skl4'>AWS</option>
									<option value='skl5'>Git</option>
									<option value='skl6'>IOS</option>
									<option value='skl7'>HTML</option>
									<option value='skl8'>JavaScript</option>
									<option value='skl9'>MySQL</option>
									<option value='skl10'>SQL</option>
									<option value='skl11'>Linux</option>
									<option value='skl12'>Android</option>
									<option value='skl13'>Swift</option>
									<option value='skl14'>C/C++</option>
									<option value='skl15'>PHP</option>
									<option value='skl16'>Doker</option>
									<option value='skl17'>Reack</option>
									<option value='skl18'>Github</option>
									<option value='skl19'>JPA</option>
								</select>
							<button type="submit" class="btn btn-outline-dark btn-sm searchBtn">
                                <i class="fas fa-search fa-2x"></i>
                            </button>
                            
	<!-- ==================================================================== -->
	<div id="hireButtons">
	<button type="button" class="btn btn-outline-dark">
								스크랩 정렬
	</button>
	<button type="submit" class="btn btn-outline-dark">
								등록하기
	</button>
	</div>
	</div>
	<section class="pt-0">
		<div class="container">
	       <div class="row mt-7 gx-xl-7" >
            <div class="col-md-3 text-center text-md-start h-auto mb-5">
              <div class="d-flex justify-content-between flex-column h-100"><a href="#"><img class="w-75 w-md-100 rounded-2" src="assets/img/blog/1.png" alt="" /></a>
                <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-2 mt-3"><a href="#">
                    <th:each>
                    <p class="fw-bold mb-0 text-black">기술스펙</p>
                  </a>
                  <p class="mb-0">마감일</p>
                </div><a href="#">
                  <h5 class="mt-1 mb-3 fs-0 fs-md-1">공고제목</h5>
                </a>
                <p class="mb-0">지역</p>
                <i class="bi bi-bookmark-heart-fill"></i>
                <i class="bi bi-bookmark-heart"></i>
                <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-3"><img class="img-fluid" src="assets/img/blog/profile1.png" alt="" /><a href="#">
                    <p class="mb-0 text-gray">회사이름</p>
                  </a></div>
              </div>
            </div>
            <!--  -->
          </div>
          </div>
       </section>
<script>
/* range value */
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
		
</script>
			</div>
</body>
</html>