* {
  margin: 0 auto;
}
header {
  background-color: rgb(16, 16, 16);
}
img {
  width: 800px;
  height: 200px;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#header {
  margin-top: 1%;
  margin-bottom: 3%;
}
.nav {
  background-color: black;
  --bs-nav-link-hover-color: red;
  padding-left: 7%;
  padding-right: 7%;
}
.nav-link {
  color: white;
  font-size: x-large;
  padding: 10px;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 20px;
}
section {
  width: 80%;
  height: 620px;
}
.page-link {
  color: black;
}
input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
#leftscore {
  margin-top: 10%;
}
#lefttable {
  float: left;

  margin: 0 auto;
}
#player1result,
#player1total,
#player1bonus {
  color: red;
  font-weight: bold;
  text-align: center;
}
#centercontent {
  width: 50%;
  height: 100%;
  float: left;
  margin: 0 auto;
  overflow: hidden;
}
#centerup {
  margin-top: 20%;
}
#dicetable td {
  border: none;
}
.setdice1,
.setdice2 {
  padding: 30px;
}
.result,
.dice {
  font-weight: 1000;
  font-size: 20px;
}
.dbc1 {
  text-align: center;
}
.bc1 {
  display: inline-block;
}
#centerdown {
  clear: both;
}
#dicetable {
  border-collapse: separate;
  border-spacing: 10px;
}
#start {
  border: 1px solid black;
}
#chance {
  width: 70px;
}
#confirmation {
  border: 1px solid black;
}
#dicetable td {
  border: 1px solid black;
}

#scoretable tr,
td,
th {
  border: 1px solid black;
}
#rightside {
  width: 25%;
  float: left;

  position: relative;
}
#board {
  margin-top: 10%;
}
.table {
  width: 100%;
  height: 100%;

  margin-bottom: 0px;
}

footer {
  clear: both;
  margin-top: 10px;
  background-color: black;
}
